<div class='perfume_price'>
	Цена: <span><%= product.price %></span> грн.
</div>

<div class='perfume_price'>
	<span class='line-through'>Старая цена: </span> <span><%= product.old_price || '?' %></span> грн.
</div>