<%= form_tag get_product_admin_parsers_path, method: 'post', id: "products_parse", remote: true do %>
	<div class="input-append">
		<%= text_field_tag 'remote_url', params[:remote_url], class: 'input-xxlarge', autofocus: true %>
		<button id='send_request' class="btn" type="submith">Go!</button>
	</div>
<% end %>
<a href="http://www.6pm.com/" class='btn go_to_six_pm'>Go to 6pm</a>
<div class="clear"></div>

<div id="product_form"></div>