<blockquote>
  <h3>Бренды:</h3>
</blockquote>
<% if @brands.any? %>
  <div id="paginator">
    <%= paginate @brands, window: 2, remote: true %>
  </div>

  <table class="table table-striped table-bordered brand_table">
    <tr>
      <th>Brands name</th>
      <th style='width: 75px'>Actions</th>
    </tr>
    <tbody id="brands_body">
      <%= render @brands %>
    </tbody>
  </table>
<% end %>
<%= link_to 'Add brand', new_admin_brand_path, class: 'btn btn-primary custom_black_btn' %>

