<h3>Запрос на перезванивание:</h3>

<strong>Имя:</strong>
<dl><%= @info[:full_name] %></dl>

<strong>Телефон:</strong>
<dl><%= @info[:phone_number] %></dl>

<strong>Коментарий:</strong>
<dl><%= @info[:comments] %></dl>
