<h3>Заказ товара из магазина Parfume.dn</h3>

<p>
  Это уведомительное сообщение. Мы приняли ваш заказ. Он будет рассмотрен в ближайшее время.
</p>

<%= render 'orders/order_table' %>

<br />
<br />

<strong>Информация о заказе:</strong>
<dl>
<%= render 'admin/orders/order_info_table' %>
</dl>

<i>Если возникнут какие-то проблемы мы свяжемся с вами по телефону или по этому email-у</i>
<i>Посетите наш сайт:</i> <%= root_url %>