#my_cart {
  margin : 10px 0 0 30px;

  .title_of_cart {
    color       : #555555;
    font-size   : 18px;
    font-weight : bold;
    line-height : 18px;
    text-shadow : 0 0 1px #777777;
  }
}

.cart_image {
  width  : 75px;
  height : 75px;
}