.extended_class {
  color          : #6C6C6C;
  font-family    : Georgia, Times, serif;
  font-size      : 16px;
  line-height    : 17px;
  text-shadow    : 0 0 1px #949494;
  vertical-align : middle;
}

#my_cart {
  margin        : 10px 0 0 90px;
  width         : 800px;
  border-radius : 3px;
  border        : 1px solid #cdcdcd;
}

.title_of_cart {
  color       : #97002e;
  font-size   : 18px;
  font-weight : bold;
  line-height : 18px;
  text-shadow : 0 0 1px #e183a0;
  margin-left : 405px;
}

.cart_image {
  margin-top: 10px;
  width  : 75px;
  height : 60px;
}

.table_head {
  background-image    : url(/assets/tab_h.png);
  background-position : left top;
  background-repeat   : repeat-x;
  border-bottom       : 1px dashed #D7D7D7;

  tr {
    height : 42px;
  }
}

#cart_bottom {
  background-image    : url("/assets/tab_b.png");
  background-position : left bottom;
  background-repeat   : repeat-x;
  border-top          : 1px dashed #D7D7D7;
  height              : 40px;

  .empty_cart {
    color       : #9D9D9D;
    margin      : 7px 0 0 39px;
    text-shadow : -1px 1px 0 #363636;
    float       : left;
  }

  #cart_total_price {
    display     : inline-block;
    color       : #97002e;
    font-size   : 17px;
    font-weight : bold;
    line-height : 18px;
    text-shadow : 0 0 1px #e183a0;
    float       : left;
    margin-top  : 2px;

    p {
      margin : 12px 0 0 260px;
      font-size: 17px;
    }
  }

  .checkout {
    float  : right;
    margin : 5px 10px 0 0;
  }
}

.table_head tr th {
  @extend .extended_class;
}

.table_cart {
  width : 100%;
  tbody {
    tr {
      border-top: 1px dashed #DCDCDC;
      height : 42px;

      &:first-child {
        border-top: none;
      }
    }
  }
}

#cart tr td {
  padding    : 0px 10px;
  text-align : center;
  vertical-align: middle;
}

.namesize a {
  color       : #3734E3;
  float       : left;
  font-family : Georgia, Times, serif;
  font-size   : 13px;
  text-shadow : 0 0 1px #777;
}

.item_price,
.item_color {
  @extend .extended_class;
}

.quantity {
  @extend .extended_class;
}

.quantity_sell {
  width          : 40px;
  height         : 80px;
  vertical-align : middle;

  .actions_with_quantity {
    width  : 40px;
    height : 72px;
    a {
      height: 33px;
      display: block;
      &:first-child {
        margin-bottom: 5px;
      }
    }
  }
}

.delete_line_item {
  vertical-align : middle;

  a {
    display    : block;
    margin-top : 12px;
  }
}

.back_from_cart {
  margin-top : 10px;
}


