.orders_composition {
  margin      : 10px 0 0 118px;
  font-weight : bold;
  font-size   : 13px;
}

table.sale_order_full {
  background-color : #F9FAFB;
  line-height      : 22px;
  margin-left      : 118px;
  width            : 747px;

  th, td {
    border         : 1px solid #ADC3D5;
    padding        : 3px 5px;
    vertical-align : middle;
  }

  th {
    color       : #25639A;
    text-align  : center;
    font-size   : 13px;
    font-weight : bold;
  }

  td.normal {
    font-size : 14px;
  }

  td.order_title {
    padding-left : 15px !important;
  }

  td.bold {
    font-weight : bold;
  }
  td.price_to_pay {
    background-color: #D8FF87;
    color: #F00;
  }
}

#new_order fieldset {
  // for popovers
  position: relative;

  font-size  : 12px;
  background : #F9FAFB;
  border     : 1px solid #ADC3D5;

  margin     : 40px 0 10px 118px;
  width      : 745px;

  legend {
    margin-left : 40px;
    color       : black;
    border      : 1px solid #ADC3D5;
    padding     : 5px 10px;

    font-family : Georgia, Times, serif;
    font-size   : 13px;
    line-height : 17px;
    text-shadow : 0 0 1px #777777;
  }

  ul {
    li {
      padding : 10px 6px;
      clear   : both;
      padding : 5px;

      label {
        display       : block;
        float         : left;
        color         : #212121;
        font-size     : 13px;
        width         : 250px;
        text-align    : right;
        padding-right : 20px;

        .orange {
          color : #a0000d;
        }
      }
    }

  }
}

ul.terms {
  margin-left : 180px;
  width       : 635px;

  li {
    .label {
      font-size   : 13px;
      line-height : 20px;
      float       : left;
      width       : 570px;
    }

    .checkbox {
      float   : left;
      padding : 18px 20px 0;
    }
  }

  li.header {
    border-bottom : 1px solid #cdcdcd;
    font-weight   : bold;
    padding       : 25px 0 10px 30px;
  }

  li.terms_wrapper {
    margin-top : 10px;

    .witout_btn {
      margin : 10px;
    }
  }
}

.send_order_data {
  float  : right;
  margin : 10px 160px 0 0;

  .send_order_data_sbmt {
    padding : 7px 15px;
  }
}

.error_msg_for_li {
  background-repeat   : no-repeat;
  background-position : 650px 5px;
}

.errors_true {
  background-image : url(/assets/errors_yes.png);
}

.errors_false {
  background-image : url(/assets/errors_no.png);
}

// Popover
.popover {
  position: absolute;
  right: 6px;
  width: 250px;
  z-index: 1010;
  background-color: #FFF;
  border: 1px solid #CCC;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  opacity: 0.6;

  .popover-content {
    padding: 9px 14px;

    p {
      line-height: 15px;
      color: #000;
      font-size: 13px;

      a {
        color: #00F;
        text-decoration: underline;
      }
    }
  }

  &.prepayment {
    top: 20px;
  }

  &.email_hint {
    top: 133px;
  }
}
