.product_image {
  float : left;
}

.image_polaroid {
  padding: 4px;
  background-color: #FFF;
  border: 1px solid #CCC;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  width: 380px;

  img {
    width: 380px;
  }
}

#zooming {
  display: block;
}

.get_back {
  color       : #959796;
  font-size   : 14px;
  font-family : Georgia, Times, serif;
  line-height : 17px;
  cursor      : pointer;
  margin-left : 10px;
  width       : 360px;
  display     : inline-block;
}

.link_color {
  margin-top: 10px;
  font-weight: bold;
  color: #3816A3;
}

.product_info {
  float       : left;
  margin-left : 30px;
  width       : 550px;

  .title_of_product {
    color       : #2f2f2f;
    font-family : Georgia, Times, serif;
    font-size   : 19px;
    font-weight : bold;
    text-shadow : 0 0 1px #777777;
    text-align: center;
    line-height: 20px;

    .brand_of_product {
      color        : #ff583d;
      margin-right : 8px;
    }
  }

  .description_of_product {
    color       : #575757;
    font-family : Georgia, Times, serif;
    font-size   : 14px;
    line-height : 17px;
    margin-top  : 15px;
  }

  .actions_for_product {

    .btn_order {
      float : left;
    }

    .right {
      float  : right;
      height : 34px;
      cursor: pointer;
    }

    .price {
      float          : left;
      margin         : 5px 0 0 0px;
      font-weight    : bold;
      vertical-align : middle;
      width          : 360px;

      .old_price_stock {
        margin     : 5px 0 0 10px;
        color      : #807D7D;
        font-size  : 18px;
        text-shadow: 0 0 1px #777;
      }

      .price_count {
        font-size : 12px;
      }

      .price_inscription {
        color     : #CC2222;
        font-size : 22px;
      }
    }
  }
}

#video_space {
  width: 480px;
  margin-bottom: 10px;
  margin-left: 33px;

  .iframe_video {
    width: 480px;
    height: 280px;
  }

  .iframe_video_wrapper {
    display: none;
  }

  .border_bottom {
    border-bottom-left-radius: 0px  !important;
    border-bottom-right-radius: 0px !important;
  }

  .video_slider {
    font-size: 15px;
    width: 462px;
    height: 20px;
    cursor: pointer;
    text-align: center;

    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 13px;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
}

