.product_image {
  float : left;
}

.image_polaroid {
  padding: 4px;
  background-color: #FFF;
  border: 1px solid #CCC;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  width: 380px;

  img {
    width: 380px;
  }
}

#zooming {
  display: block;
}

.get_back {
  color       : #959796;
  font-size   : 14px;
  font-family : Georgia, Times, serif;
  line-height : 17px;
  cursor      : pointer;
  margin-left : 10px;
  width: 130px;
  display: block;
}

.link_color {
  color: #1956B2;
}

.product_info {
  float       : left;
  margin-left : 30px;
  width       : 550px;

  .title_of_product {
    color       : #2f2f2f;
    font-family : Georgia, Times, serif;
    font-size   : 19px;
    font-weight : bold;
    line-height : 15px;
    text-shadow : 0 0 1px #777777;
    text-align: center;

    .brand_of_product {
      color        : #ff583d;
      margin-right : 8px;
    }
  }

  .description_of_product {
    color       : #575757;
    font-family : Georgia, Times, serif;
    font-size   : 14px;
    line-height : 17px;
    margin-top  : 15px;
  }

  .actions_for_product {
    .in_stock {
      float        : left;
      padding-left : 23px;
      margin-left  : 10px;
      margin-top   : 8px
    }

    .yes {
      background          : url(/assets/yes.png) no-repeat;
      background-position : left center;
      color               : #83C135;
      text-shadow         : 1px 1px 1px #83C135;

    }

    .no {
      background          : url(/assets/no.png) no-repeat;
      background-position : left center;
      color               : #a6a6a6;
      text-shadow         : 1px 1px 1px #a6a6a6;
    }

    .btn_order {
      float : left;
    }

    .right {
      float  : right;
      height : 34px;
    }

    .price {
      float          : left;
      margin         : 5px 0 0 58px;
      font-weight    : bold;
      vertical-align : middle;

      .price_count {
        font-size : 12px;
      }

      .price_inscription {
        color     : #CC2222;
        font-size : 22px;
      }
    }
  }
}

#video_space {
  width: 480px;
  margin-bottom: 10px;

  .iframe_video {
    width: 480px;
    height: 280px;
  }
  .video_slider {
    font-size: 15px;
    width: 462px;
    height: 20px;
    cursor: pointer;
    text-align: center;

    border: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
  }
}
