<table class="table table-striped table-bordered brand_table">
  <tr>
    <th style='width: 7px'>#</th>
    <th>Color name</th>
    <th>Russian - Color name</th>
    <th style='width: 350px'>Common - Color name</th>
    <th style='width: 130px'>Actions</th>
  </tr>
  <tbody id="colours_body">
    <%= render colours %>
  </tbody>
</table>
