<table class="table table-striped table-bordered brand_table">
  <tr>
    <th style='width: 10px'>#</th>
    <th style='width: 125px'>Name</th>
    <th style='width: 125px'>Rus</th>
    <th>Обьщий цвет</th>
    <th style='width: 90px'>Actions</th>
  </tr>
  <tbody id="colours_body">
    <%= render colours %>
  </tbody>
</table>
