<table class="table table-striped table-bordered brand_table">
  <tr>
    <th style='width: 25px'>#</th>
    <th style='width: 165px'>Название ( En )</th>
    <th style='width: 130px'>Название ( Ru )</th>
    <th style='width: 130px'>Основа</th>
    <th>Обьщий цвет</th>
    <th style='width: 90px'>Actions</th>
  </tr>
  <tbody id="colours_body">
    <%= render colours %>
  </tbody>
</table>
