  <tr>
    <td><%= colour.name %></td>
    <td><%= rus_name colour %></td>
    <td>
      <div>
        <select data-placeholder="Pick a color..." class="chosen-select" multiple style="width:350px;" tabindex="4">
          <option value="United States">United States</option>
          <option value="United Kingdom">United Kingdom</option>
          <option value="Burundi">Burundi</option>
          <option value="Cambodia">Cambodia</option>
          <option value="Cameroon">Cameroon</option>
          <option value="Canada">Canada</option>
        </select>
      </div>
    </td>
    <td><%= link_to 'Edit', edit_admin_colour_path(colour.id), class: 'btn btn-info' %></td>
  </tr>
