<blockquote>
  <h3>Расцветки:</h3>
</blockquote>
<% if @colours.any? %>
  <div id="paginator">
    <%= paginate @colours, window: 2 %>
  </div>
  <%= render 'colour_table', colours: @colours %>
<% end %>
<%= link_to 'Add color', new_admin_colour_path, class: 'btn btn-primary custom_black_btn' %>
