<div id="footer">
  <div class="footernav">
    <ul>
      <li><a href="/">Домой</a></li>
      <li><a href="/products?product_type=For+Her">Для неё</a></li>
      <li><a href="/products?product_type=For+Him">Для него</a></li>
    </ul>
  </div>
  <div class="footernav">
    <ul>
      <li><a href="/to_order">Как заказать</a></li>
      <li><a href="/warranties">Гарантии</a></li>
      <li><a href="/faqs">FAQs</a></li>
    </ul>
  </div>
  <div class="footernav">
    <ul>
      <li><a href="#" class="viewallbrandslink">Бренды</a></li>
      <li><a href="/products?product_type=Gift+set">Подарки</a></li>
      <li><a href="/products?product_type=Specials">Товары со скидкой</a></li>
    </ul>
  </div>
  <div class="footernav">
    <ul>
      <li><a href="/delivery">Доставка</a></li>
      <li><a href="/delay_prodcuts">Задержки</a></li>
      <li><a href="/policy">Конфиденциальность</a></li>
    </ul>
  </div>
  <div class="footernav">
    <ul>
      <li><a href="/about_us">О нас</a></li>
      <li><a href="/service">Обслуживание</a></li>
      <li><a href="/about_us">Карта сайта</a></li>
    </ul>
  </div>
  <div class="footernav last">
    <ul>
      <li><a href="/security">Безопастность</a></li>
      <li><a href="/another">Полезные ресурсы</a></li>
    </ul>
  </div>
</div>
