<div id="footer">
  <div class="footernav">
    <ul>
      <li><a href="/">Главная</a></li>
      <li><a href="/products?product_type=For+Him">Для мужчин</a></li>
      <li><a href="/products?product_type=For+Her">Для женщин</a></li>
    </ul>
  </div>
  <div class="footernav">
    <ul>
      <li><a href="/to_order">Как заказать</a></li>
      <li><a href="/warranties">Доставка</a></li>
      <li><a href="/faqs">Вопрос/Ответ</a></li>
    </ul>
  </div>
  <div class="footernav">
    <ul>
      <li><a href="#" class="viewallbrandslink">Гарантии</a></li>
      <li><a href="/products?product_type=Gift+set">Новинки</a></li>
      <li><a href="/products?product_type=Specials">Акции</a></li>
    </ul>
  </div>
  <div class="footernav">
    <ul>
      <li><a href="/delivery">Материалы</a></li>
      <li><a href="/delay_prodcuts">История брендов</a></li>
      <li><a href="/policy">Конфиденциальность</a></li>
    </ul>
  </div>
  <div class="footernav">
    <ul>
      <li><a href="/about_us">О нас</a></li>
      <li><a href="/service">Отзывы</a></li>
      <li><a href="/about_us">Карта сайта</a></li>
    </ul>
  </div>
  <div class="footernav last">
    <ul>
      <li><a href="mailto:nick-super?@gmail.com">nick-super?@gmail.com</a></li>
      <li>(066) 375 78 XX</li>
      <li>(096) 515 55 XX</li>
    </ul>
  </div>
</div>
