<div id="footer">
  <div class="footernav">
    <ul>
      <li><a href="/">Главная</a></li>
      <li><a href="/products", data-filters='{"gender":"Mens,Unisex"}' >Для мужчин</a></li>
      <li><a href="/products", data-filters='{"gender":"Womens,Unisex"}'>Для женщин</a></li>
    </ul>
  </div>
  <div class="footernav">
    <ul>
      <li><a href="/to_order">Как заказать</a></li>
      <li><a href="/delivery">Доставка</a></li>
      <li><a href="/faqs">Вопрос/Ответ</a></li>
    </ul>
  </div>
  <div class="footernav">
    <ul>
      <li><a href="/warranties">Гарантии</a></li>
      <li><a href="/products">Новинки</a></li>
      <li><a href="/action">Акции/Новости</a></li>
    </ul>
  </div>
  <div class="footernav">
    <ul>
      <li><a href="/materials">Материалы</a></li>
      <li><a href="/contacts">Контакты</a></li>
      <li><a href="/policy">Конфиденциальность</a></li>
    </ul>
  </div>
  <div class="footernav">
    <ul>
      <li><a href="/about_us">О нас</a></li>
      <li><a href="/reviews">Отзывы</a></li>
      <li><a href="/about_us">Карта сайта</a></li>
    </ul>
  </div>
  <div class="footernav last">
    <ul>
      <li>Пн-Пт: с 10:00 до 18:00</li>
      <li>Суб: с 10:00 до 15:00</li>
      <li>Воскр: выходной</li>
    </ul>
  </div>
</div>
