<div id="footer">
  <div class="footernav">
    <ul>
      <li><a href="/">Домой</a></li>
      <li><a href="/products?product_type=For+Her">Для неё</a></li>
      <li><a href="/products?product_type=For+Him">Для него</a></li>
      <li><a href="#" class="viewallbrandslink">Бренды</a></li>
      <li><a href="/products?product_type=Gift+set">Подарки</a></li>
      <li><a href="/products?product_type=Specials">Товары со скидкой</a></li>
      <li><a href="/about_us">О нас</a></li>
      <li><a href="/service">Обслуживание</a></li>
      <li><a href="/about_us">Карта сайта</a></li>
    </ul>
    <ul>
      <li><a href="/to_order">Как заказать</a></li>
      <li><a href="/warranties">Гарантии</a></li>
      <li><a href="#">FAQs</a></li>
      <li><a href="#">Доставка</a></li>
      <li><a href="#">Задержки</a></li>
      <li><a href="/policy">Политика конфиденциальности</a></li>
      <li><a href="/security">Безопастность</a></li>
      <li><a href="#">Полезные ресурсы</a></li>
    </ul>
  </div>
  <div class="footer_payment">
    <h2>Методы Оплаты</h2>
    <p>поддерживаемые методы отправки и покупки товара:</p>
    <ul>
      <li><a href="#"><img src="/assets/mc.png" /></a></li>
      <li><a href="#"><img src="/assets/mc.png" /></a></li>
      <li><a href="#"><img src="/assets/mc.png" /></a></li>
    </ul>
  </div>
  <div class="footer_contacts">
    <div class="social">
      <h2>Мы Вконтакте:</h2>
      <div class="link">
        <a href="http://vkontakte.ru"></a>
      </div>
    </div>
    <div class="clear"></div>
    <div class="email">
      <a href="mailto:info@example.com">
        Email:
      </a>
      <div class="email_number">
        dracon779@gmail.com
      </div>
    </div>
    <div class="clear"></div>
    <div class="phone">
      <div class="phone_description">Телефон:</div>
      <div class="phone_number">
        (066) 55 23 657
      </div>
    </div>
    <div class="clear"></div>
    <div class="copyrightclient">
      <span>&copy; The Own Perfume Company 2013</span>
    </div>
  </div>
</div>