<div id="header">
  <div class="left">
    <a href="/"><img src="/assets/prudence_paris_logo.jpg" alt="lorem"></a>
  </div>
  <div class="right">
    <div class="topnav">
      <ul>
        <li><a href="/about_us">О нас</a></li>
        <li><a href="/to_order">Как заказать</a></li>
        <li><a href="/warranties">Гарантии</a></li>
        <li><a href="/service">Обслуживание</a></li>
        <li class="last"><a href="/faqs">FAQs</a></li>
      </ul>
      <div class="clear"></div>
    </div>

    <img src="/assets/GiftLabel.png" alt="free standard Ucraine delivery" class="giftLabel">

    <% if session[:cart_id] %>
      <div class="basket">
        <%= render 'shared/header_cart' %>
      </div>
    <% else %>
      <div class="basket">
        <a href="/" class="basketimg">Basket</a>
        <div class="no_basketcontent">
          <img src="/assets/empty_cart.jpg" alt="empty">
        </div>
        <div class="clear"></div>
      </div>
    <% end %>
  </div>
</div>
<div class="clear"></div>