<div id='main_menu'>
  <ul id="sdt_menu" class="sdt_menu">
    <li>
      <a href="/products?gender_params%5B%5D=Boys&gender_params%5B%5D=Men">
        <img src="/assets/1.png" alt="" />
        <span class="sdt_active"></span>
        <span class="sdt_wrap">
          <span class="sdt_link">Для него</span>
          <span class="sdt_descr">Мужская продукция</span>
        </span>
      </a>
    </li>
    <li>
      <a href="/products?gender_params%5B%5D=Girls&gender_params%5B%5D=Women">
        <img src="/assets/6.png" alt="" />
        <span class="sdt_active"></span>
        <span class="sdt_wrap">
          <span class="sdt_link">Для неё</span>
          <span class="sdt_descr">Женская продукция</span>
        </span>
      </a>
    </li>
    <li>
      <a href="/to_order">
        <img src="/assets/3.png" alt="" />
        <span class="sdt_active"></span>
				<span class="sdt_wrap">
					<span class="sdt_link">Как заказать</span>
					<span class="sdt_descr">Условия доставки</span>
				</span>
      </a>
    </li>
    <li>
      <a href="/delivery">
        <img src="/assets/4.png" alt="" />
        <span class="sdt_active"></span>
				<span class="sdt_wrap">
					<span class="sdt_link">Доставка</span>
					<span class="sdt_descr">Способы доставки</span>
				</span>
      </a>
    </li>
    <li>
      <a href="/reviews">
        <img src="/assets/5.png" alt="" />
        <span class="sdt_active"></span>
				<span class="sdt_wrap">
					<span class="sdt_link">Отзывы</span>
					<span class="sdt_descr">Наши покупатели</span>
				</span>
      </a>
    </li>
    <li id='search'>
      <!-- <form method="get" action="/search"> -->
      <form method="get" action="/">
        <input name="q" type="text" size="40" placeholder="Поиск..." class="clickTip" />
      </form>
    </li>
  </ul>
</div>
<div class="clear"></div>

<div id="aToolTip" class="defaultTheme">
  <p class="aToolTipContent">Например: Christian Dior
    <a id="aToolTipCloseBtn" href="#">close</a>
  </p>
</div>