<div id='main_menu'>
  <ul id="sdt_menu" class="sdt_menu">
    <li>
      <a href="/products?product_type=For+Her">
        <img src="/assets/2.jpg" alt="" />
        <span class="sdt_active"></span>
				<span class="sdt_wrap">
					<span class="sdt_link">Для неё!</span>
					<span class="sdt_descr">Женская парфюмерия</span>
				</span>
      </a>
    </li>
    <li>
      <a href="/products?product_type=For+Him">
        <img src="/assets/1.jpg" alt="" />
        <span class="sdt_active"></span>
				<span class="sdt_wrap">
					<span class="sdt_link">Для него!</span>
					<span class="sdt_descr">Мужская парфюмерия</span>
				</span>
      </a>
    </li>
    <li>
      <a href="/products?product_type=Gift+set">
        <img src="/assets/3.jpg" alt="" />
        <span class="sdt_active"></span>
				<span class="sdt_wrap">
					<span class="sdt_link">Подарки</span>
					<span class="sdt_descr">Подарочные наборы</span>
				</span>
      </a>
    </li>
    <li>
      <a href="/delivery">
        <img src="/assets/4.jpg" alt="" />
        <span class="sdt_active"></span>
				<span class="sdt_wrap">
					<span class="sdt_link">Доставка</span>
					<span class="sdt_descr">Способы доставки</span>
				</span>
      </a>
    </li>
    <li>
      <a href="/products?product_type=Specials">
        <img src="/assets/5.jpg" alt="" />
        <span class="sdt_active"></span>
				<span class="sdt_wrap">
					<span class="sdt_link">Скидки</span>
					<span class="sdt_descr">Товары со скидками</span>
				</span>
      </a>
    </li>
    <li>
      <a href="#">
        <img src="/assets/6.jpg" alt="" />
        <span class="sdt_active"></span>
				<span class="sdt_wrap">
					<span class="sdt_link">Бренды</span>
					<span class="sdt_descr">Самые популярные</span>
				</span>
      </a>
      <div class="sdt_box">
        <div id="crazy_menu">
          <ul class="leftcolumn">
            <%= render partial: 'shared/random_brands', collection: @brands_left, as: :item %>
          </ul>
          <ul class="rightcolumn">
            <%= render partial: 'shared/random_brands', collection: @brands_right, as: :item %>
          </ul>
          <div class="clear"></div>
          <a class="viewallbrandslink" href="#"> » Показать все бренды...</a>
          <div class="clear"></div>
        </div>
      </div>
    </li>
    <li id='search'>
      <form method="get" action="/search">
        <input name="q" type="text" size="40" placeholder="Поиск..." class="clickTip" />
      </form>
    </li>
  </ul>
</div>
<div class="clear"></div>

<div id="aToolTip" class="defaultTheme">
  <p class="aToolTipContent">Например: Christian Dior
    <a id="aToolTipCloseBtn" href="#">close</a>
  </p>
</div>