<div id="rotator">
  <ul>
    <li class='show'><a href="#"><img src="images/q.jpg" /></a></li>
    <li>						 <a href="#"><img src="images/w.jpg" /></a></li>
    <li>						 <a href="#"><img src="images/e.jpg" /></a></li>
  </ul>
</div>

<div id="top_list">
	<div id="top_icon">
		<img id='top_icon_img' src="images/top_icon.jpg" width="150" height="140" />
		<div id='wrap'>
			<ul id="slider">
				<li>
					<a href="#">
						<img src="images/top_1.jpg" width="115" height="100" />
						<div class="title">Kenzo Flower Eau De Parfum</div>
						<div class="price"><span class="small">from</span> £18.99</div>
					</a>
				</li>
				<li>
					<a href="#">
						<img src="images/top_2.jpg" width="115" height="100" />
						<div class="title">Yves Saint Laurent Paris Eau De Toilette</div>
						<div class="price"><span class="small">from</span> £26.49</div>
					</a>
				</li>
				<li>
					<a href="#">
						<img src="images/top_3.jpg" width="115" height="100" />
						<div class="title">Lanvin Éclat D'arpege Eau De Parfum</div>
						<div class="price"><span class="small">from</span> £18.99</div>
					</a>
				</li>
				<li>
					<a href="#">
						<img src="images/top_4.jpg" width="115" height="100" />
						<div class="title">Dolce & Gabbana The One For Men Eau De Toilette</div>
						<div class="price"><span class="small">from</span> £26.49</div>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>



