<div id="rotator">
  <ul>
    <li class='show'><a href="#"><img src="images/q.jpg" /></a></li>
    <li>						 <a href="#"><img src="images/w.jpg" /></a></li>
    <li>						 <a href="#"><img src="images/e.jpg" /></a></li>
  </ul>
</div>

<div id="leftarea">
	<div id="top_list">
		<div id="top_icon"></div>
		<img id='top_icon_img' src="images/top_icon.jpg" width="150" height="140" />
		<a href="javascript:void(0);" class="previousproduct"></a>
		<div id='wrap'>
			<ul id="slider">
				<li style="left: -125px;">
					<a href="#">
						<img src="images/top_1.jpg" width="115" height="100" />
						<div class="title">Yves Saint Laurent Paris Eau De Toilette</div>
						<div class="price"><span class="small">цена: </span> $26.49</div>
					</a>
				</li>
				<li style="left: 0px;">
					<a href="#">
						<img src="images/top_2.jpg" width="115" height="100" />
						<div class="title">Kenzo Flower Eau De Parfum</div>
						<div class="price"><span class="small">цена: </span> $18.99</div>
					</a>
				</li>
				<li style="left: 125px;">
					<a href="#">
						<img src="images/top_3.jpg" width="115" height="100" />
						<div class="title">Yves Saint Laurent Paris Eau De Toilette</div>
						<div class="price"><span class="small">цена: </span> $26.49</div>
					</a>
				</li>
				<li style="left: 250px;">
					<a href="#">
						<img src="images/top_4.jpg" width="115" height="100" />
						<div class="title">Yves Saint Laurent Paris Eau De Toilette</div>
						<div class="price"><span class="small">цена: </span> $26.49</div>
					</a>
				</li>
				<li style="left: 375px;">
					<a href="#">
						<img src="images/top_5.jpg" width="115" height="100" />
						<div class="title">Dolce & Gabbana The One For Men Eau De Toilette</div>
						<div class="price"><span class="small">цена: </span> $26.49</div>
					</a>
				</li>
				<li style="left: 500px;">
					<a href="#">
						<img src="images/top_6.jpg" width="115" height="100" />
						<div class="title">Yves Saint Laurent Paris Eau De Toilette</div>
						<div class="price"><span class="small">от</span> $26.49</div>
					</a>
				</li>
			</ul>
		</div>
		<a href="javascript:void(0);" class="nextproduct"></a>
	</div>
	<div class="clear"></div>
	<div id="underline"></div>

	<div id="new_products">
		<div class="new_product">
			<div id="new_product_title">Новые - для неё!...</div>
			<div id="new_product_content">
				<div class="picture_new">
					<img class="image" src="images/must_have_1.jpg" />
				</div>
				<div class="description">
					<ul>
						<li class="title">
							Jimmy Choo Eau De Parfum
						</li>
						<li class="price">
							<span class="price_count">цена:</span>
							<span class="price_inscription"> $27.99</span>
						</li>
						<li class="button">
							<a href="#" class="btn_order">Добавить</a>
						</li>
					</ul>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<div class="new_product">
			<div id="new_product_title">Новые - для неё!...</div>
			<div id="new_product_content">
				<div class="picture_new">
					<img class="image" src="images/must_have_2.jpg" />
				</div>
				<div class="description">
					<ul>
						<li class="title">
							Connect Men De Toilette
						</li>
						<li class="price">
							<span class="price_count">цена:</span>
							<span class="price_inscription"> $11.56</span>
						</li>
						<li class="button">
							<a href="#" class="btn_order">Добавить</a>
						</li>
					</ul>
				</div>
				<div class="clear"></div>
			</div>
		</div>

		<div class="new_product">
			<div id="new_product_title">Новые - для неё!...</div>
			<div id="new_product_content">
				<div class="picture_new">
					<img class="image" src="images/must_have_2.jpg" />
				</div>
				<div class="description">
					<ul>
						<li class="title">
							Connect Men De Toilette
						</li>
						<li class="price">
							<span class="price_count">цена:</span>
							<span class="price_inscription"> $11.56</span>
						</li>
						<li class="button">
							<a href="#" class="btn_order">Добавить</a>
						</li>
					</ul>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<div class="new_product">
			<div id="new_product_title">Новые - для неё!...</div>
			<div id="new_product_content">
				<div class="picture_new">
					<img class="image" src="images/must_have_2.jpg" />
				</div>
				<div class="description">
					<ul>
						<li class="title">
							Connect Men De Toilette
						</li>
						<li class="price">
							<span class="price_count">цена:</span>
							<span class="price_inscription"> $11.56</span>
						</li>
						<li class="button">
							<a href="#" class="btn_order">Добавить</a>
						</li>
					</ul>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>

	<div class="clear"></div>
	<div id="underline" class="second"></div>
</div>