<div id="rotator">
  <ul>
    <li class='show'><a href="#"><img src="images/q.jpg" /></a></li>
    <li>						 <a href="#"><img src="images/w.jpg" /></a></li>
    <li>						 <a href="#"><img src="images/e.jpg" /></a></li>
  </ul>
</div>