<div id="rotator">
  <ul>
    <li class='show'><a href="#"><img src="/assets/q.jpg" /></a></li>
    <li><a href="#"><img src="/assets/w.jpg" /></a></li>
    <li><a href="#"><img src="/assets/e.jpg" /></a></li>
  </ul>
</div>

<div id="leftarea">
  <div id="top_list">
    <div id="top_icon"></div>
    <img id='top_icon_img' src="/assets/top_icon.jpg" width="150" height="140" />
    <a href="javascript:void(0);" class="previousproduct"></a>
    <div id='wrap'>
      <ul id="slider" style="left: 0px;">
        <%= render partial: 'best_sellers', collection: @best_sellers %>
      </ul>
    </div>
    <a href="javascript:void(0);" class="nextproduct"></a>
  </div>
  <div class="clear"></div>
  <div class="underline_index"></div>

  <div id="new_products">
    <%= render partial: 'new_product', locals: { new_products: @for_them } %>
  </div>

  <div class="clear"></div>
  <div class="second underline_index"></div>
  <div class='clear'></div>
</div>
<div id="rightarea">
  <%= render 'ratings/voting_menu' %>

  <div id="remote_site">
    <div class="aboveline_blog"></div>
    <div class="wrapper_of_remote_site">
      <div class="blog">
        <a href="#">
          How To Choose The Perfect Perfume For Valentines Day?
        </a>
      </div>
      <div class="description_blog">
        Choosing the right perfume for your partner can often be a tiring task. Fear not, we're here to help!
        Choosing the right perfume for your partner can often be a tiring task. Fear not, we're here to help!
        Choosing the right perfume for your partner can often be a tiring task. Fear not, we're here to help!
      </div>
    </div>
    <div class="underline_blog"></div>
  </div>
</div>
<div class="clear"></div>