<ul>
  <li>
    <dt>Номер карты Приватбанк:</dt>
    <dd>№ 5577 2126 0205 9431</dd>
  </li>
  <li>
    <dt>Реквизиты получателя:</dt>
    <dd>Степанец Николай Анатольевич</dd>
  </li>
  <li>
    <dt>Сумма предоплаты</dt>
    <dd><%= number_to_currency(prepay(@order.total_price, @order.payment_method) , unit: 'грн.', format: '%n %u', delimiter: "") %></dd>
    <dd>Указанную сумму вы должны перевести сразу ( <%= link_to 'правила доставки', to_order_url %> )</dd>
  </li>
  <li>
    <dt>Общая сумма к оплате:</dt>
    <dd><%= number_to_currency(total_price_with_discount(@order.total_price, @order.payment_method ), unit: 'грн.', format: '%n %u', delimiter: "") %></dd>
    <dd>Остаток указанной суммы вы должны будете выплатить наложенным платежом при получении товара ( за вычетом суммы предоплаты )</dd>
  </li>
</ul>
<div class='additional_information'>
  <p class='distinguish'>После оплаты заказа обязательно сообщите Ваш номер заказа, сумму и время пополнения любым удобным для Вас способом: e-mail или звонком менеджеру или смс.</p>
  <p>Оплата осуществляется по перечислению на карточку Приват банка в любом отделении Приват банка, через терминалы пополнения, через Приват24.</p>
  <p>Доставка товара начинается с момента оплаты заказа.</p>
  <p>При возникновении вопросов свяжитесь с нами по номерам или email:</p>
  <ul class='distinguish_ask'>
    <li>(066) 375-78-97 МТС</li>
    <li>(096) 515-72-98 Киевстар</li>
    <li>(063) 426 80 78 Life :)</li>
    <li>info@vako.dn.ua</li>
  </ul>
  <p>Спасибо за покупку!</p>
</div>
