<div id="breadcrumb">
  <ul>
    <li><a href="/"> Home </a></li>
    <li>&raquo; Отчёт</li>
  </ul>
  <div class="clear"></div>
</div>

<div class="title_of_cart">Оформление заказа:</div>
<div class='orders_composition'>Состав заказа:</div>

<%= render 'order_table' %>
<%= render 'form' %>

<div class="clear"></div>

<div class="back_from_cart">
  <%= link_to '« Обратно к корзине', cart_path(session[:cart_id]) %>
</div>
