<div class='rights_column'>
  <h3>О нас</h3>
  <p>
    В магазине «VaKo» Вы найдете огромный выбор дорожной кожгалантереи и аксессуаров.
    В ассортимент входят сумки, чемоданы, рюкзаки, портмоне и ремни известных мировых брендов.
    Заботясь о комфорте клиента, мы создали максимально универсальную и удобную схему приобретения товара.
    Мы даем Вам возможность получить профессиональную консультацию и приобрести именно то, что Вам больше всего понравится.
    Вы можете зайти на наш сайт для оформления заказа в любое удобное для Вас время.
  </p>
  <br>
  Мы обеспечим:
  <ul>
    <li>Профессиональную консультацию</li>
    <li>Широчайший и постоянно обновляемый ассортимент дорожной кожгалантереи и аксессуаров ведущих мировых брендов</li>
    <li>Оперативную обработку запросов клиента</li>
    <li>Сервисное и гарантийное обслуживание любого приобретенного товара</li>
    <li>Доставку в любую точку Украины в короткие сроки</li>
    <li>Бесплатную доставку по Украине</li>
  </ul>

  <p>
    Наша цель - донести до людей качественные вещи, с которыми вы будете чувствовать себя увереннее.
  </p>
  <p>
    Магазин молодой и активно развивающийся. Мы постоянно улучшаем его и вносим что-то новое.
    Мы представляем на украинский рынок огромный ассортимент брендов, которые заслужили признание в США, Канаде, Мексике и множества других стран.
  </p>

  <p>
    Интернет-магазин «VaKo» осуществляет оптовую продажу высококачественных и модных женских и мужских сумок во всех регионах Украины. Условия сотрудничества мы всегда оговариваем индивидуально с каждым клиентом.
  </p>
</div>
