<div class='rights_column'>
  <h3>About Us</h3>

  <p> Here at The London Perfume Company we pride ourselves on:</p>

  <ul>
    <li>Providing first class customer service</li>
    <li>Offering an extensive and ever growing range of designer fragrances, skincare and beauty products at fantastic prices</li>
    <li>Having years of experience within the fragrance, skincare and beauty industry</li>
  </ul>

  <p>
  The London Perfume Company is an online global brand who specialise in fragrances, skincare and beauty products.
    We understand the importance and joy of having that perfect product that makes us look and feel amazing.
  Our first rate customer service is hugely important to us. We base our ethos on ensuring that customers receive
    the utmost help if required when making their order, and that detailed product information is always available,
    to make certain that every customer receives their perfect purchase.
  <p>
    We too love online shopping and we know that when buying online it is so important to have complete confidence
    in the company you are buying from. We guarantee the highest quality in all our products, and we have a free
    returns policy should any of our customers wish to return their purchase.
  </p>

  <p>
  We also know that customers look for affordable pricing and expect ease and convenience when shopping online.&nbsp;
  We are therefore 100% committed to satisfying our customer's needs and we always endeavour to ensure customers enjoy
  their online experience with us.&nbsp;
  We are always pleased to receive any form of feedback so if you would like to get in touch please do so by emailing us at
  </p>

  <p>
  <a href="mailto:customerservices@thelondonperfumecompany.com">customerservices@thelondonperfumecompany.com</a>
  or calling us on 0844 225 1757.
  </p>
</div>

