<div id="menu_bar">
  <div id="breadcrumb">
    <ul>
      <li><a href="/"> Home </a></li>
      <li>&raquo; Карта сайта</li>
    </ul>
    <div class="clear"></div>
  </div>

  <div class="menu">
    <div class="header">
      Карта Сайта
    </div>

    <div class="section">
      <ul>
        <li><a href="#">О нас</a></li>
        <li><a href="#" class='current_page'>Как заказать</a></li>
        <li><a href="#">Гарантии</a></li>
        <li><a href="#">Обслуживание</a></li>
        <li><a href="#">FAQs</a></li>
        <li><a href="#">Доставка</a></li>
        <li><a href="#">Задержки</a></li>
        <li><a href="#">Конфиденциальность</a></li>
        <li><a href="#">Безопастность</a></li>
        <li><a href="#">Полезные ресурсы</a></li>
      </ul>
    </div>
  </div>

</div>

