<div class='rights_column'>
  <h3>Акции</h3>

  <p><span class='bold'>24.06.14</span>
  <br>
  В связи с ситуацией на востоке Украины, количество дней на доставку сумок увеличена. Просьба отнестись с пониманием.
  <br>
  </p>

  <p><span class='bold'>02.03.14</span>
  <br>
  Постоянным клиентам скидка 3% и более процента на последующие товары.
  <br>
  Постоянным может стать тот клиент, который совершил 2-е и более покупок в нашем интернет-магазине.
  <br>
  Помимо этого на сайте часто проходят распродажи. Следите за новостями на нашем сайте.
  </p>



  <p><span class='bold'>03.04.14</span>
  <br>
  Просим обратить ваше внимание на разнообразное количество цветов в каждом товаре, заходите, рассматривайте, покупайте! Удачных Вам покупок!
  <br>
  </p>

</div>
