<div class='rights_column'>
  <h3>Акции</h3>
  <p>
    Постоянным клиентам скидка 3% и более процента на последующие товары.
  </p>
  <p>
    Постоянным может стать тот клиент ,который совершил 2-е и более покупок в нашем интернет-магазине.
  </p>
  <p>
    Помимо этого на сайте часто проходят распродажи . Следите за новостями на нашем сайте
  </p>
</div>
