<div class='rights_column'>
  <h3>Доставка</h3>
  <p>Сумка поставляется из США за 4-5 недели со дня предоплаты. Стоимость товара включает доставку из США в Украину.</p>
  <p>С помощью перевозчиков Новая Почта осуществляется оперативная доставка в любой город Украины за счет магазина. Клиент не платит за доставку по Украине.</p>

  На интересующие вас вопросы ответят наши менеджеры по тел.:
  <ul>
    <li>(066) 375-78-97 МТС</li>
    <li>(096) 515-72-98 Киевстар</li>
  </ul>
  <p>
    или же задать вопрос по email: <a href="mailto:info@vako.dn.ua">info@vako.dn.ua</a>
  </p>
  <p>
    Внимание:
  </p>
  <p>
    Отправка товара осуществляется Пн-Сб, все заказы осуществленные после 14:00 отправляются на следующий день, кроме воскресенья, в воскресенье отправка не осуществляется.
  </p>

  <p>
    Выбрать ближайшее отделение Нова Почта можно по ссылке: <a href="http://novaposhta.ua/frontend/nearest/ru">novaposhta.ua</a>
  </p>

  <p>Доставку можно осуществить до 2х недель авиаперевозкой, стоимость товара увеличивается на 30 у.е. (сумма может варьироваться в зависимости от веса товара).</p>
</div>
