<div class='rights_column'>
  <h3>Доставка</h3>
  <p>Доставка товара осуществляется до 12 рабочих дней со дня предоплаты до момента, когда товар окажется у Вас.</p>
  <p>С помощью перевозчиков Новая Почта осуществляется оперативная доставка в любой город Украины за счет магазина. Клиент не платит за доставку по Украине.</p>

  На интересующие вас вопросы ответят наши менеджеры по тел.:
  <ul>
    <li>(066) 375-78-97 МТС</li>
    <li>(096) 515-72-98 Киевстар</li>
    <li>(063) 426 80 78 Life :)</li>
  </ul>
  <p>
    или же задать вопрос по email: <a href="mailto:info@vako.dn.ua">info@vako.dn.ua</a>
  </p>
  <p>
    Внимание:
  </p>
  <p>
    Отправка товара осуществляется Пн-Сб, все заказы осуществленные после 14:00 отправляются на следующий день, кроме воскресенья, в воскресенье отправка не осуществляется.
  </p>

  <p>
    Выбрать ближайшее отделение Нова Почта можно по ссылке: <a href="http://novaposhta.ua/frontend/nearest/ru">novaposhta.ua</a>
  </p>
</div>
