<div class='rights_column' xmlns="http://www.w3.org/1999/html">
  <h3>FAQs</h3>

  <ul class='faq'>
    <li><a href="#one"><p>Why will my Groupon voucher code not work?</p></a></li>
    <li><a href="#two"><p>How do I redeem my Groupon voucher?</p></a></li>
    <li><a href="#three"><p>Are your products genuine?</p></a></li>
    <li><a href="#four"><p>How do I pay?</p></a></li>
    <li><a href="#five"><p>What about P&amp;P?</p></a></li>
    <li><a href="#six"><p>How long will it take to receive my order?</p></a></li>
  </ul>

  <strong class='one'>Why will my Groupon voucher code not work?</strong>
  <p>If your code is not working please check the following:</p>
  <ul>
    <li>1.&nbsp;&nbsp;&nbsp; You should only have one product/set with a quantity of
      in the basket when entering your code </li>
    <li>2.&nbsp;&nbsp;&nbsp; You have selected the correct product/set</li>
    <li>3.&nbsp;&nbsp;&nbsp; You are entering the code exactly as it appears on your voucher</li>
    <li>4.&nbsp;&nbsp;&nbsp; You are using the Groupon code and not attempting to redeem the security code</li>
    <li>5.&nbsp;&nbsp;&nbsp; You have refreshed the site since visiting before the codes were activated</li>
  </ul>

  <strong class='two'>How do I redeem my Groupon voucher?</strong>
  <p>To redeem your Groupon voucher, select the product which relates to your Groupon purchase (which can be found in
    the
    special offers section) and add to the basket.
    At the checkout, check the products are correct and enter your discount code in the box located below the amount to
    pay
    and click on the ‘Apply Discount’ button.
    Check the amount to pay has changed to 0.00 value and click on the ‘Proceed’ button. Finally, fill out your name and
    address details and click on the ‘Proceed’ button. Your order should then be confirmed and you will be provided with
    a
    unique order number. Please be aware that it may take up to 7 days to receive your order.</p>
  <strong class='three'>Are your products genuine?</strong>
  <p>Yes, all of our products are 100% genuine and are exactly the same as you would find on the high street.</p>

  <strong class='four'>How do I pay?</strong>
  <p>We can only accept online payments that are made at the time of placing an order. Unfortunately we are unable to
    take
    orders over the phone.

    We accept the following forms of online payment:
    Visa
    Mastercard
    Delta
    Visa Electron
    Solo

    If you have any queries regarding your payment, please contact us.</p>
  <strong class='five'>What about P&amp;P?</strong>
  <p>We offer First Class Standard Delivery and we provide this free of charge throughout the UK.
    For Europe the delivery cost is &pound;4.95 per item and for the rest of the world, the cost is
    &pound;7.95 per item. We also offer UK Special Delivery at a charge of &pound;4.95 however to
    guarantee next day delivery, orders must be placed before 12pm Monday to Thursday. Any orders
    placed by 12pm on Friday will be guaranteed for delivery the following Monday.</p>
  <strong class='six'>How long will it take to receive my order?</strong>
  <p>We aim to dispatch orders within one working day from the ordered date. UK orders are usually
    delivered within 3-5 working days, however as delivery times can vary, please allow up to 7 working
    days for UK delivery, 15 working days for Europe and 20 working days for the rest of the world as we
    cannot guarantee the efficiency of standard postal services.&nbsp; If you have any queries regarding
    the delivery of an order, please contact us at
    <a href="mailto:customerservices@thelondonperfumecompany.com">customerservices@thelondonperfumecompany.com</a>
    and we will respond as soon as we can.</p>
</div>