<div class='rights_column'>
  <h3>Вопрос/Ответ</h3>

  <ul class='faq'>
    <li><a href="#one"><p>Какие гарантии?</p></a></li>
    <li><a href="#three"><p>Могу не платить 30% предоплату, а сразу 100% при получении?</p></a></li>
    <li><a href="#four"><p>Могу сделать возврат?</p></a></li>
  </ul>

  <strong class='one'>Какие гарантии?</strong>
  <p>
    Мы предоставляем гарантию на 3 месяцa
  </p>
  <p>
    Условия гарантии <a href="/warranties">здесь</a>
  </p>

  <strong class='three'>Могу не платить 30% предоплату, а сразу 100% при получении?</strong>
  <p>
    Нет.
  </p>

  <strong class='four'>Могу сделать возврат?</strong>
  <p>
    Условия возврата смотрите <a href="/warranties">тут</a>
  </p>
</div>