<div class='rights_column'>
  <h3>Материалы</h3>

  <ul class='faq'>
    <li><a href="#one"><p>Полиэстер</p></a></li>
    <li><a href="#two"><p>Модал</p></a></li>
    <li><a href="#three"><p>Экокожа</p></a></li>
    <li><a href="#four"><p>Пластик</p></a></li>
    <li><a href="#five"><p>Поливинил</p></a></li>
    <li><a href="#six"><p>Рейон</p></a></li>
    <li><a href="#seven"><p>Замша</p></a></li>
    <li><a href="#eight"><p>Нубук</p></a></li>
    <li><a href="#nine"><p>Бархат</p></a></li>
    <li><a href="#ten"><p>Текстиль</p></a></li>
    <li><a href="#eleven"><p>Натуральная кожа</p></a></li>
    <li><a href="#twelve"><p>Атлас</p></a></li>
  </ul>

  <br>
  <strong class='one'>Полиэстер</strong>
  <p>
    Полиэстер относится к группе широко используемых продуктов синтетического происхождения. Полиэстеры, это жесткие материалы, обладающие высокой прочностью, которые могут быть изготовлены в самых разнообразных цветах, рамерах и формах. Использование полиэстерового волокна довольно распространено в США. Первым производителем полиэстера на коммерческой основе стала компания Du Pont de Nemours Company.
  </p>
  <p>Производство полиэстеров основно на химических веществах, которые главным образом добываются из нефтепродуктов. Существуют три основные формы изготовления полиэстера – пленка, волокно и пластмасса. Полиэстеровые волокна могут быть использоваы для производства ткани. Полиэтиленовый терефталат это полиэстер, который чаще всего используется для создания волокон. Этот полимер используется для производства всевозможных бутылок, предназначенных для безалкогольных напитков. В процессе переработки ПЭТ, его вторично разогревают и снова придают необходимую форму.
  </p>
  <p>
    Полиэстер, это материал, созданный из синтетических волокон, схожий по своим характеристикам с хлопком. Продукты произведенные из полиэстера не терубют особых методов ухода. Материал наделен хорошей воздухопропускаемой способностью, быстро высыхает и может оказывать охлаждающее действие. Полиэстеровой ткани не страшны ультрафиолетовые излучения, насекомые вредители, он довольно устойчив к пятнам. Изделия созданные из полиэстера, очень долговечны, при этом не теряют яркость красок, обладают антистатическим действием. Самой популярной в использовании является смесь полиэстера и хлопка, данный материал быстро высыхает и он мягкий на ощупь, также может быть комбинирован с шерстью и вискозой.
  </p>
  Свойства полиэстеровой ткани:
  <ul>
    <li>Обладает стойкостью к сминанию, удобно хранить;</li>
    <li>Довольно легко стирается;</li>
    <li>После стирки полиэстеровые вещи быстро сохнут;</li>
    <li>Изделия, состоящие из полиэстера не садятся и долгое время не растягиваются.</li>
  </ul>
  Уход за полиэстером:
  <ul>
    <li>материал можно стирать в стиральной машине;</li>
    <li>Полиэстер следует стирать со светлыми вещами;</li>
    <li>Категорически нельзя отбеливать;</li>
    <li>Изделия стираются при бережном режиме;</li>
    <li>Гладить необходимо также осторожно и бережно, с низкой температурой утюга.</li>
  </ul>

  <br>
  <strong class='two'>Модал</strong>
  <p>
    Модал, это экологически чистая ткань нового поколения, которую можно получить в процессе обработки древесины бука. Данную ткань изготавливают без применения хлора, в связи с чем, производство модаля считается экологически чистым.
  </p>
  <p>
    Модальная ткань наделена множеством приятных свойств, среди которых необычайная мягкость и способность быстро впитывать влагу. Постельное белье, созданное из модаля невероятно красиво и приятно на ощупь. В модальной ткани собраны практически все положительные свойства хлопка, вдобавок к этому, она намного ярче, лучше передает цвета.
  </p>
  <p>
    Разрывная прочность у него выше чем у вискозного волокна, а что касается гигроскопичности, он превосходит хлопковую ткань почти в полтора раза – эти качества очень важны для тканей предназначеных для создания постельного белья.
  </p>
  <p>
    Модальное волокно чрезвычайно легкое, к слову 10000м этого волокна весят всего 1гр. Модал и ткани с м модалом очень практичны в использовании, они сохраняют свою мягкость и эластичность на протяжении долгого времени и не линяют после многократных стирок. Вещи из модала не требуют добавления к стирке специальных смягчителей и долго сохраняют свой первоначальный вид и мягкость. Модальная ткань наделяет постельное белье дополнительными, утонченностью и блеском.
  </p>
  Преимущества модала, делают эту ткань универсальной и очень удобной в применении:
  <ul>
    <li>Обладает мягким блеском.</li>
    <li>Ткани на ощупь очень мягкая и нежная.</li>
    <li>В процессе эксплуатации не усаживается и не теряет своей эластичности.</li>
    <li>Обеспечивает удобство в носке: слегка охлаждает кожу тела в жару, не вызывая раздражения.</li>
    <li>Хорошие гигиенические данные – влага стремительно выходит на поверхность.</li>
    <li>Не страшны многократные стирки.</li>
    <li>Цвет изделия в процессе носки, практически не изменяется, не линяет и не выцветает.</li>
  </ul>
  <p>
    У этой ткани есть всего лишь один недостаток – это высокая стоимость производства по сравнению с другими тканями.
  </p>
  <p>
    Ткань модал прекрасно подходит для изготовления изделий для домашнего и гостиничного обихода – халаты, полотенца, покрывала, повязки для волос, тапочки, коврики в ванную, парео, банные простыни, сумки для банных принадлежностей.
  </p>

  Требования по уходу за модальной тканью.
  <ul>
    <li>
      В процессе стирки рекомендуется выворачивать изделие на изнанку.
    </li>
    <li>
      Избегать использования отбеливающих составов, так как они с легкостью могут вызвать скатываемость материала.
    </li>
  </ul>

  <br>
  <strong class='three'>Экокожа</strong>

  <p>Изделияс состоящие из экокожи с легкостью можно принять за натуральные. Экокожа представляет собой качественно изготовленный материал, схожий с натуральной кожей, внешно они очень похожи друг на друга. В составе экокожи присутствуют искусственные материалы из целлюлозы, синтетические полимеры, натуральня кожа, хлопок. Экокожа изготавливается методом нанесения пленки из полиуретанан на хлопковую основу. Использование современных технологий позволяет нанести полимерную пленку, не повреждая и не деформируя тканевую основу, в результате чего, изделие приобретает дополнителльную эластичность и мягкость.</p>
  <p>Хлопковая основа увеличивает износостойкость изделия. Удивительные свойства полиуретана заключаются в чрезвычайно высокой устойчивости к износу, сильным морозам, способности к восстановлению повреждений, возникших в результате деформирования.</p>
  <p>В процессе использования, материал не выделяет абсолютно никаких опасных для здоровья веществ, по этой причине егои назвали – экокожа.</p>

  Основные достоинства, присущие экокоже:

  <ul>
    <li>Довольно правдоподобная имитация натуральной кожи, без присутствия каких либо недостатков, присущих натуральной коже.</li>
    <li>Поверхность экокожи состоит из микроскопических пор, которые позволяют материалу пропускать воздух, причем воздухопрницаемость самой экокожи выше, чем у кожи натурального присхождения.</li>
    <li>Довольно высокая износоустойчивость, устойчив к терниям, заломам и разрывам.</li>
    <li>Морозоустойчивость, немного уступающая натуральной коже.</li>
    <li>Мягкая, теплая, эластичная, приятно прикасаться.</li>
    <li>Материал экокожи гипоаллергенен, не вызывает никаких раздражений на коже, частично благодаря особенности воздухопроницаемости материала, не имеет запаха.</li>
    <li>Экологически безопасный и чистый состав.</li>
  </ul>

  <p>
    Опираясь на вышеизложенные достоинства материала, можно констатировать, что экокожа ничем не хуже натуральной, и в некоторых случаях даже превосходит ее, стоймость материала значительно ниже, благодаря своему искусственному происхождению. При покупке вещи из экокожи, важно быть внимательным и не попасть на подделку. Относиться к изделиям из экокожи следует бережно – бытовые загрязнения и пятна нужно немедленно удалить влажной тканью и вытереть насухо. Застарелые пятна можно вывести с помощью очистителей для натуральной кожи. Периодически необходимо обрабатывать экокожу специально предназначенными защитными пропитками.
  </p>

  <br>
  <strong class='four'>Пластик</strong>
  <p>Пластмасса, это искусственно созданный материал, который способен принимать юбую форму. Из пластмассы можно изготавливать все что угодно, начиная мебелью и заканчивая посудой.</p>
  <p>Первые синтетические пластики, нашедшие свое применение в промышленности, это фенопласты. В 1902 году бы создан первый синтетический полимер – лаккаин, путем конденсации фенола и формальдегида. В период между 1907 и 1914 было начато промышенное производство жестких синтетических полимеров, созданных на базе фенолиальдегидной конденсации.</p>
  <p>В тридцатые годы прошлого столетия, началось проомышленное производство мочевино-формальдегидных, полиэфирных и остальных полимеров. Огромная значимость была отведена полимеризационным пластикам, таким как полистирол, полиметилметакрилат, поливинилхлорид и поливинилацетат.</p>
  <p>С наступлением 40-х годов, развитие технологий полимеризационного пластика стало ускоряться. Появились новые видв полимеров – полиуретановые, полиамидные, кремнийорганические и пр.</p>
  <p>Индустрия создания пластмассы постоянно развивалась наряду с новыми открытиями отечественных и иностранных химиков. Без развивающейся органической химии, индустрия пластмассы не могла бы продолжать свое существование. Создание синтетических полимеров, в наше время получила довольно обширное развитие.</p>
  <p>Большую чать пластмассы, создают из химических веществ, извлеккаемых при переработке нефти. В производстве также может учавствовать каменный уголь, вода, соль, известняк. Пластмассы существуют трех видов – жидкие, твердые и гибкие. С помощью пластмассы можно  имтмировать стекло, металл, дерево и другие распространенные материалы.</p>
  <p>Твердые пластмассы пригодны к изнотовлению корпусов различной бытовой техники. Тонкие волокна твердой платмассы, применяются для изготовления мягких нейлоновых чулков.</p>
  <p>Из полиэтилена производят бутылки, пластиковые мешки.</p>
  <p>Изделия и поверхности из пластмассы, требуют специального ухода и очистки. Несмотря на то, что пластик чистят подручными средствами, этого может быть недостаточно, так как поверхность пластмассы накапливает на себе статическое эллектричество. Существуют специальные антистатические средства для очистки пластмассы, которые предотвращают накопление статического заряда и отталкивают пыль. Такие средства пригодны сразу к применению и не требуют предварительной подготовки.</p>

  <br>
  <strong class="five">Поливинил</strong>
  <p>Поливинил, или как его еще называют – ПВХ, виннол, вестолит, джеон, луковил, и это лишь маленькая часть  его названий является пластической массой белого цвета.  Поливинил характеризуется высокой стойкостью минеральному маслу, щелочи и множеству видов кислот и растворителей.  Поливинил не горит на открытом воздухе , и при этом не морозостоек. Устойчивость к нагреванию сохраняется до +65. Температурный показатель с легкостью можно изменить, изготовив композитный материал с различающимся составом по необходимым условиям.
  </p>
  <ul>
    <li>Международное обозначение поливинила  PVC</li>
    <li>Физические свойства поливинила следующие:</li>
    <li>Молекулярная масса (10-150тыс)</li>
    <li>Плотность (1,35-1,43 г/на куб. см)</li>
    <li>Температура стеклования 70-80 градусов по цельсию.</li>
    <li>Температура плавления (150-220С)</li>
  </ul>

  <p>по своему свойству поливинил слабовозгараемый материал. Температура разложения с выделением хлористого водорода составляет 110-120 С. Легко растворим при погружении в тетрагидрофуран, циклогексанон, димеилформамид, ограниченно растворяется ацетоном и бензолом. Обладает устойчивостью к воздействию бензина, жиров, керосина, влаги.</p>
  <p>Поливинил применяется для производства пленки, труб, поливенилхлоридного волокна, пенополивинилхлорида, обувных пластикатов, линолеума и т.д.  А также поливинил используется в сфере производства грампластинок. Из поливенила производятся широкий ассортимент профилей для изготовления окон и дверей, проводов, кабелей и гофрированных труб.</p>
  <p>Независимо от использования в быту или производстве, поливинил не представляет никакой опасности для здоровья человека и окружающей среды. Самая большая опасность поливинила заключается в его утилизировании. Сам процесс утилизации сам по себе представляет определенную проблему, так как при помощи сжигания из поливинила выделяются токсичные соединения – диоксиды, которые очень опасны для здоровья и жизни человека. </p>
  <p>опасность диоксидов заключается в их способности впитываться особым образом в рецепторы живого организма и влиять на него весьма неблагоприятно, подавляя жизненные функции. Кроме этого, диоксиды подавляют работу иммунной системы, вмешиваясь в процесс деления клеток, являясь причиной возникновения онкологического заболевания. Диоксиды также оказывают большое влияние на эндокринную и репродуктивную систему. Для определения степени вреда диоксидов, был даже обозначен специальный термин – химический спид, связанный в первую очередь с разрушительным воздействием этого вещества на иммунитет человека.</p>

  <br>
  <strong class="six">Рейон</strong>
  <p>Рейон, это материал, созданный  из целлюлозы, и является наиболее дешевой заменой дорогому шелку. Он был изобретен во Франции в 1884 году, впервые изготавливался для использования в коммерческих целях США. Изначально рэйон называли искусственным шелком, но это оказалось неприбыльным с точки зрения маркетинговой рекламы, в связи с чем провели общенациональный конкурс для выявления подходящего названия материала. Человек с лучшим предложением мог получить приз – 1000 долларов. Поступило около 10000 предложений, но ни одно из них не заинтересовало производителей. В итоге члены комитета выбрали название волокна «рэйон», что в переводе означает лучи света.</p>
  <strong>Производство ткани рэйон.</strong>
  <p>Несмотря на то, что рэйон считается тканевым волокном, на самом деле он создан из древесной целлюлозы. В основном процессе создания рэйона включены обработка и растворение целлюлозы в содовом растворе и передача ее спустя очень маленькие отверстия в химическую ванну, в которой образуются волокна. Тип процесса производства определяет тип ткани рэйона.</p>
  <p> Вискоза используется в наиболее часто применяемом процессе производства на сегодня. Большая часть рэйона состоит из этой ткани, и используется для создания одежды.</p>
  <p>Рэйонное волокно характеризуется отличной впитывающей способностью, мягкостью и удобством, оно схоже с натуральным шелком, и отличается легким прокрашиванием.</p>
  <p>Рэйон, это часть  нашей повседневной жизни, он довольно распространен в обиходе. Из вискозных волокон, часто производят официальную одежду. Из него создаются всевозможные аксессуары, платья, блузы, белье, шляпы, спортивная одежда, рабочая одежда и вышивка.</p>
  <p>В составе рэйонной ткани обычно встречаются другие волокна, с целью улучшения характеристики данной ткани – хлопок, акрил, полиэстер, ацетат, шерсть, шелк.</p>
  <p>Технологический прогресс привел к повышению долговечности ткани рэйона. Несмотря на довольно легкое применение и хранение рэйона, следует знать несколько правил по уходу за данной тканью:</p>
  <p>Рэйонную ткань можно отбеливать, однако некоторые виды рэйона могут быть восприимчивы к отбеливающим компонентам.</p>
  <p>Ткани из рейона следует относить в химчистку или стирать вручную,  с применением теплой воды, без отжима. Можно встряхнуть или сгладить ткань и положить ее сушиться на вешалку.</p>
  <p>Рейонное волокно легко повреждается кислотой, серебрянкой и плесенью. Солнечные лучи рэйону не вредны.</p>


  <br>
  <strong class="seven">Замша</strong>

  <p>Замша, это кожа, изготовленная путем пропитки жиром предварительно подготовленных сухих шкур. Для изготовления замши используют шкуру барана, коровы, козы, оленя, диких коз и антилоп. Особенностью замши является ее мягкость, которая сохраняется на протяжении очень долгого времени и не пропадает даже после мытья в мыльном растворе, по-этому, замшу также называют моющейся кожей.</p>
  <p>В процесс замшевания, жир, необходимый для пропитывания кожи, подвергается значительным химическим изменениям. Холодная вода не имеет никакого действия на замшу, вода может разрушить замшевое изделие лишь после длительного кипячения или вследствие нагревания под давлением.</p>
  <strong>Применение замши в повседневной жизни.</strong>
  <p>Замша применяется для изготовления различных предметов одежды и аксессуаров, для создания обуви, также применяется в технике для шлифовки линз. Замшей также называют шелковые и хлопчатобумажные ткани имеющие на лицевой стороне ворс ,и применяющиеся для создания верхней одежды.</p>
  <strong>Как правильно ухаживать и чистить замшевые изделия.</strong>
  <p>Замшевые вещи не только очень прихотливы, но и очень плохо справляются с грязью, как правило, это и является основной причиной, которая удерживает многих от покупок замшевой обуви, сумочек, мебели и прочего.</p>
  <p>Очистить замшу не составит труда, это можно сделать и подручными средствами, не прибегая к специальным составам. Разумеется, для замшевого изделия каждый раз чистка это настоящее испытание, но вывести пятна все же удается и без последствий. Для качественной и результативной очистки замши, для начала потребуется щетка с мягким ворсом. Данные щетки предназначены для использования специально на замшевой поверхности, учитывая все капризы испытуемого материала, и устроены таким образом, чтобы как можно бережнее очистить замшу от грязи, не изменяя ее внешних качеств.</p>
  <ul>
    <li>Перед чисткой замшевого изделия, следует смочить щетку в нашатырном спирте разведенного водой из расчета 1:5. Именно такой раствор позволит удалить грязь без ущерба структуре материала.</li>
    <li>После обработки водно спиртовым раствором, очищенную поверхность стоит обработать дополнительно уксусным раствором с расчетом одна чайная ложка уксуса на один литр воды.</li>
    <li>Последним и не менее важным этапом ухода за замшей, является ее протирание сухим куском ткани и последующая сушка на свежем воздухе или хорошо проветриваемом помещении.</li>
  </ul>


  <br>
  <strong class="eight">Нубук</strong>

  <p>История возникновения нубука берет свое начало в 20 годах минувшего столетия. Именно в то время был изобретен метод промышленного нанесения мелких ворсинок на основу из ткани. Первые производимые ткани, не обладали такой бархатистой поверхностью, да и использование их для обивки или перетяжки мягкой мебели было невозможным, так как ворс слишком быстро терял свой первозданный вид. По этому можно сказать что современный нубук это конечный результат развития производства флока.</p>
  <p>Нубук – это основа из ткани, на которую методом полимеризации наносится короткий ворс. Закрепляется он с помощью специального клея, устойчивого к резким перепадам температуры и влажности воздуха. Нубук легко можно стирать, поэтому обтянутую им мебель, с легкостью можно подвергать умеренно влажной или сухой уборке. В отдельной категории материалов находиться нубук с тефлоновым покрытием, ему характерны, более гладкая и не такая бархатистая структура поверхности, но его эксплуатационные преимущества значительно выше.</p>
  <strong>Свойства нубуковой ткани.</strong>
  <p>Несмотря на свою мягкость и деликатность, нубук это довольно прочный материал. Именно по этой причине, очень часто он используется для восстановления и ремонта мягкой мебели. Нубук не протирается в процессе длительной эксплуатации, по этому именно нубуком покрывают мебель, которая потом будет установлена в общественных местах.</p>
  <p>Нубук обладает хорошей впитывающей и воздухопроницаемой способностью, поэтому он вызывает исключительно приятные тактильные ощущения, при соприкосновении с ним, тело не перегревается. Благодаря довольно высокому содержанию синтетических волокон, нубук обладает высокой практичностью и износостойкостью.</p>
  <strong>Виды нубука:</strong>
  <ul>
    <li>Натуральный – на лицевой поверхности присутствует слабый ворс, благодаря ему кожа на ощупь бархатистая, и обладает при этом красивым внешним видом. К недостаткам можно отнести низкую устойчивость к износам и тщательная чистка специальными средствами.</li>
    <li>Искусственный – относительно натурального нубука, он значительно ниже по цене. Это полимерный материал, имеющий бархатистую структкуру, и довольно схожий по внешни параметрам с натуральным собратом. В синтетическом нубуке отсутствует впитывающая способность, взамен он наделен более высокой устойчивостью к износам.</li>
    <li>Нубук-ойл – влажный на ощупь и более тяжелый, он более неприхотлив и износостоек по сравнению с обычным нубуком.</li>
  </ul>
  <strong>Уход за нубуком.</strong>
  <p>Нубук с тефлоновым покрытием самый легкий в уходе, такой материал, достаточно протереть влажной салфеткой, для удаления лишней грязи. Остальные виды нубука можно протереть мыльной водой. Не стойт его сушить: материал может деформироваться при довольно низкой температуре в 40 градусов.</p>

  <br>
  <strong class="nine">Нубук</strong>

  <p>Историю возникновения бархата, уходит в далекие времена, когда бархатом украшали троны, королевские комнаты, алтари. Судя по некоторым историческим данным, производство бархатной ткани началось в Сицилии и Палермо. По другим же источникам отчетливо прослеживается маршрут, ведущий в Венецию.</p>
  <p>Бархат, по сути это шелковая ткань с плотным густым ворсом с лицевой стороны, созданные на основе из натурального шелка или волокна химического происхождения. Грунтовая нить основы представляет собой хлопчатобумажное волокно, реже пряденый шелк.</p>
  <p>Бархат бывает тонким, блестящим, толстым, плюшевым или матовым. В любом из случаев ему характерен стоячий ворс в определенном направлении. Существует также бархат с структурной выделкой или узором, созданный из искусственного шелка или хлопкового сырья.</p>
  <p>Бархат, имеющий более редкий и длинный ворс, называется вельпетелем. Бумажный бархат ности имя «манчестер», шерстяной бархат – трип. Также в современном производстве используется уточный – полубархат, плис или вельвет, жатый бархат, флорентийский многоцветный со сложным  рисунком. Бархатная ткань применима для пошива детских костюмов, платьев, для отделки интерьера и в декоративных лях. Бархатные изделия можно встретить в разнообразных цветовых решениях.</p>
  <p>Гладкий и узорчатый бархат называют муаром, он производится с помощью комбинирования ворсинок разной длины и окраски.</p>

  <strong>Уход за бархатными изделиями.</strong>
  <p>Все виды данной  ткани по-своему хороши, изысканы и необычны, но оригинальность этой разновидности ткани требует особого внимания относительно ее ухода и эксплуатации. Лучшим вариантом поддержания бархатной обивки или штор  в надлежащем состоянии, это их чистка в химчистке.</p>
  <p>Бархат, это весьма нежная и деликатная ткань, поэтому совершенно недопустимо использовать грубые щетки для очистки мебели покрытой бархатом, также нежелательно использование пылесоса и активных чистящих химических составов.</p>
  <p>Не смотря на всю деликатность ткани и капризную натуру, бархат можно стирать, разумеется, методом ручной стирки. Ни в коем случае не надо отжимать, выкручивая изделие. После полоскания, следует подождать пока вода сама стечет, а затем положить вещь сушиться на горизонтальную поверхность.</p>
  <p>Гладить бархатные изделия можно только с изнанки, постоянно увлажняя ее. Стоит прикрепить один конец вещи  к краю гладильно доски или стола, а вторую сторону  осторожно натягивать рукой, и при этом пройтись быстро утюгом по поверхности ткани.</p>


  <br>
  <strong class="ten">Текстиль</strong>
  <p>Использование текстиля было замечено еще в средневековых временах, после изобретения ткацких станков. Но на самом деле текстиль использовался еще за много веков до этого времени, просто методы создания ткани значительно отличались от принятых современных методов. В те далекие времена, мастерицы создавали ткань, используя метод плетения или валяния. После этого, спустя некоторое время, начали создавать ткани путем обычного вязания. В наш век передовых технологий, методы создания ткани практически канули в прошлое, на замену им пришли ткацкие машины и масштабное развитие текстильной промышленности.</p>
  <p>Однако, освоить азы плетения и вязания было легче, чем найти пряжу или текстильное волокно, как принято называть сейчас. Пряжу тогда изготавливали из растительности или из шерсти животных, ну а в наше время в добавок ко всему появились минеральные и искусственные волокна.</p>
  <p>Натуральный текстиль, создается из животных волокон, сплетенных из шерсти верблюдов, коз, кроликов, овец и других животных с густой и мягкой шерстью. В процессе производства, отстриженная шерсть обрабатывается в прочную нить, которая потом станет частью материала для пошива разнообразной одежды. Текстильная ткань достаточно хорошо удерживает тепло, оно прочное и очень комфортное. Шерстяные вещи хорошо подходят для холодного времени года, обладают воздухопроницаемостью и не вызывают аллергии. Также к натуральному волокну животного происхождения можно отнести шелк и мех.</p>
  <p>Наиболее широко распространенный среди остальных текстиль, это лен и хлопок, самый известный по всему миру среди всех тканей созданных из натурального волокна растительного происхождения. К подобным волокнам можно отнести производные соломы, джута, абаки.</p>
  <p>Хлопок можно встретить практически на всей обитаемой територии земли. В процессе производства из хлопка скручивается тонкая нить, которая потом служит основой ткани для пошива белья, платьев, различных декоративных элементов и др.</p>

  <strong>Правила ухода за текстильными изделиями.</strong>

  <p>Перед началом стирки, следует вывернуть изделие на изнаночную сторону.</p>
  <p>Предпочтительна ручная стирка, без отбеливателей и пятновыводителей.</p>
  <p>Температура воды для стирки должна быть минимальной.</p>
  <p>Противопоказана машинная сушка.</p>

  <p>Во время глажки не стоит прикасаться горячей стороной утюга принтов ткани. Можно вывернуть вещь наизнанку и прогладить рисунок аккуратно.</p>

  <br>
  <strong class="eleven">Натуральная кожа</strong>
  <p>Кожа, это универсальный материал, который одним из первых стал обрабатываться людьми.</p>
  <p>Было установлено, что уже в позднем периоде палеолита, люди сменили простейшую одежду из обычных шкур, на сшитую одежду, состоящую из кожи и меха. В том же периоде было замечено использование первых декоративных аксессуаров, апликация, вышивка, раскраска. И даже динамичное развитие ткачества не смогло вытеснить кожу из бытового применения – сумки, ремни, обувь и даже доспехи, а после начала использования бронзы – и подоспешные рубахи.</p>
  <p>В разных народах применялись различные традиционные способы выделки кожи, но все известные способы сводятся к трем четырем методам, после которых получаются разительно отличающиеся продукты:</p>
  <ul>
    <li>Сырая кожа – минимальная обработка.</li>
    <li>Сыромятная кожа – выделка происходит без дубления.</li>
    <li>Сыромятное дубление - характеризуется слабым дублением квасцами.</li>
    <li>Дубленая кожа – конечный продукт, прошедший процесс жирового дубления или дубление с помощью растительных, химических дубильных веществ.</li>
  </ul>
  <p>Сыра кожа имеет узкое применение, а вот сыромятная кожа, с древнейших времен являлась базой для содания одежды, обуви и всего подобного. Дубление кожи с использование растительных танинов также было известно и в древнем мире, но далеко не во всех народах. Теперь же дубленая кожа используется практически везде.</p>
  Натуральную кожу, можно классифицировать по нескольким видам использования:
  <ul>
    <li>Для изготовления обувной продукции.</li>
    <li>Выделка чаще всего осуществляется из шкур крупного рогатого скота и свиней, чаще всего используется для производства снаряжения для конской езды, ремней, кожаных аксессуаров и сумок. Кожа отличается высокой надежностью и износостойкостью.</li>
    <li>Прочная кожа – используемая для приводных ремней, чаще всего используются шкуры крупного рогатого скота.</li>
    <li>Шкуры свиней, жеребят, коз, овец наиболее мягкие и служат для создания одежды из кожи и сумок.</li>
  </ul>
  <p>Натуральная кожа, это живой материал, из которого все изделия неповторимы, имеют свою отличительную черту, оригинальный рисунок или пигментное пятно, не являющееся дефектом кожи.</p>
  <strong>Уход за натуральной кожей.</strong>
  <p>На современном рынке представлен весьма обширный арсенал средств предназначенных для ухода за кожаными изделиями. Специальные спреи имеют множество функций – очистка, размягчение, дезинфекция, обновление и даже нейтрализующие статическое электричество. Специальные салфетки для кожаных изделий, обладают антисептическими свойствами, их специальный состав, защищает обновленную поверхность на длительное время. Такие салфетки очень удобно брать с собой в дорогу.</p>

<br>
  <strong class="twelve">Атлас</strong>
  Именно в Китае впервые стали производить атласную ткань. Атлас представляет собой полотно, на лицевой стороне которого заметны, только нитяные основы, самый ценный слой волокна расположен на верхней стороне ткани. По прошествии времени особенности обработки и производства атласных тканей, были заимствованы жителями Средней Азии, чуть позже на Ближнем Востоке, а затем и в Европе. Итак, уже в 17-18 веке наиболее качественное атласное полотно производилось в Иране.  
  В России атлас стал популярным еще в 15 веке, его завозили из восточных стран. Из атласа раньше осуществлялось изготовление палантин, кафтанов, рукавиц, брюк и т.д. ближе к середине 16-го века атлас могли позволить себе приобрести и крестьяне, хотя до этого времени атлас считался тканью богачей. В древних временах существовало множество видов атласной ткани, которые называли в честь мест, откуда они происходили, к примеру, атлас турецкий, винницкий, немецкий  и другие.

  <strong>Виды атласной ткани.</strong>
  <ul>
    <li>Ментенон.</li>
    <li>Трианон.</li>
    <li>Помпадур.</li>
    <li>Хан.</li>
  </ul>

  <p>Атласная ткань обладает высокой прочностью, и способен сохранять свой натуральный блеск на протяжении долгого времени.  Атласный материал обладает высокой впитывающей способностью, и при этом быстро высыхает. Кроме этого, атлас является гипоаллергенным материалом, не привлекающий насекомых, к примеру, клещей.</p>
  <p>На атласной ткани не накапливается статическое электричество, он меньше притягивает на себя пыли. Атлас прекрасно драпируется, соответственно он отлично подходит для производства скатертей, постельных комплектов, одежды – он отличается легкостью, упругостью и красивым внешним видом. Атлас довольно мягкий и тонкий материал, который требует осторожного обращения и особого ухода.</p>
  <p>В настоящее время атласная ткань широко применяется, начиная от одежды и заканчивая шторами. Довольно часто из атласа шьются майки, шорты, сарафаны, платья, всевозможная женская,  мужская и детская одежда, в качестве домашнего текстиля и декорирующих элементов помещения.</p>
  <p>Для правильного ухода за изделием, стоит сначала ознакомиться с составом изделия, возможно, там могут присутствовать вискоза, полиэстер, хлопок, нейлон. В зависимости от состава ткань может быть очищена сухим или влажным способом.  При влажной чистке изделия, рекомендовано использовать специальные средства для стирки атласа. Во избежание растяжки волокон ткани, предпочтительна ручная стирка в воде с температурой не более 30 градусов. Отжимать вещи из атласа не рекомендуется.</p>


  <br>
</div>