<div class='rights_column'>
  <h3>Privacy Policy</h3>

  1. Introduction
  <p>Your personal information is being processed by The London Perfume Company who respect your privacy and is
    committed
    to protecting your personal information. We comply with the principles of the Data Protection Act 1998 and aim to
    maintain consistently high levels of best practice in our processing of your personal information. Our aim is to be
    responsible, relevant and secure when using your data. This Privacy Notice relates to our use of any personal
    information
    you provide to us through The London Perfume Company website.</p>
  <p>In order to provide you with the best service, we may request and/or record information about you. This privacy
    notice
    explains the following:</p>

  <ul>
    <li>the type of information we collect;</li>
    <li>how the information is used;</li>
    <li>when we may contact you;</li>
    <li>whether we will disclose your details to anyone else; and the use of cookies.</li>
  </ul>

  2. What type of personal information is collected?
  <p>When you sign up to participate in or receive a service from The London Perfume Company website, such as a
    newsletter, competition,
    forum we will ask for limited personal information. We will also collect personal information from you when you you
    communicate
    with us over the telephone or via written correspondence. This can include information such as your name, postal
    address,
    telephone or mobile number, fax number, email address, gender or date of birth. By entering your details in the
    fields
    requested, you enable The London Perfume Company to provide you with the services you select.</p>

  3. How will the information be used?
  <p>The London Perfume Company will use your personal information for a number of non-marketing purposes including the
    following:</p>
  <ul>
    <li>we may contact you for service related reasons that you have subscribed to, signed up for, or participate in
      (e.g. to make you aware of any delays in your order arriving on time, reminding you of a password or username, or
      about a comment you have made on a website.);
    </li>
    <li>to invite you to share your opinions and comments about the level of service you receive from us;</li>
    <li>to track traffic flows and to make our websites easier for you to use;</li>
    <li>to provide a user online community; and for</li>
    <li>planning and managing our business activities by understanding aggregated analysis on behaviour and habits;</li>
  </ul>

  4. Will I be contacted for marketing purposes?
  <p>Yes. The London Perfume Company may use the information you have provided to promote the products and services of
    The London Perfume Company or others.</p>
  <p>However, be assured that we understand the irritations of unsolicited communications and are fully committed to
    ensuring the rights and obligations set out in the Data Protection Act 1998 and the Privacy and Electronic
    Communications Regulations 2003 are respected. </p>
  <p>If you don't want it, you won't get it.&nbsp; Any marketing communication you receive will always include a clear,
    simple option to refuse, or "opt-out" of such future communications. You may also opt-out at ANY time by
    contacting us (see below).</p>
  <p>The Telephone Preference Service (TPS) and the Mailing Preference Service (MPS) offer consumers important
    statutory and non-statutory protection against unsolicited marketing contact. If you are registered on either
    service, The London Perfume Company will assume that your subsequent submission of personal data via The London
    Perfume Company website or data capture form indicates, for the time being, your consent to receive marketing by
    us. You may opt-out at ANY time by contacting us (see below).</p>

  5. Will The London Perfume Company share my information with anyone else?
  <p>The London Perfume Company may disclose your personal data where it believes it is compelled to do so by law; in
    particular for the prevention or detection of crime, the capture or prosecution of offenders; and the assessment
    or collection of tax or duty.</p>
  <p>The London Perfume Company will not share your contact information with third party companies.</p>

  6. Can I find out what personal information The London Perfume Company holds on me?
  <p>Under the Data Protection Act 1998 you have the right to request a copy of the personal information that The
    London Perfume Company holds about you. We will provide you, at no charge, with a hard copy of the personal data
    that we keep about you within 30 days, although we will require proof of your identity. If you consider that the
    information we hold about you is incorrect, you may where appropriate, have the data erased, amended or updated.
    Please make a written application to the Data Protection Officer, The London Perfume Company, 66 Chiltern Street,
    London, England, W1U 4JT.</p>
  <p>If any of the personal information that we hold about you is incorrect, you can contact the customers services
    team on 0844 225 1757 who will update your details as soon as practically possible.</p>

  7. Changes to The London Perfume Company Privacy Policy?
  <p>This privacy policy may be updated at any time with or without notice in order to comply with new practices or
    regulations. You may wish to visit this page every time you submit personal information to The London Perfume
    Company website.</p>

  8. Cookies and your privacy
  <p>A cookie is a small file of letters and numbers downloaded on to your computer when you access certain websites.
    Cookies allow a website to recognise a user's computer. A cookie itself does not contain or collect personally
    identifiable information. Cookies are used in behavioural advertising to identify users who share a particular
    interest so that they can be served more relevant adverts. We may also use cookies to: estimate our audience size
    and usage pattern speed up your searches and</p>
  <p>We are always pleased to hear from our customers (even if it is a complaint!). We are always grateful for any time
    you spend providing us with the knowledge we need to ensure our customers are completely satisfied - we want you
    to return to the site and to recommend us to your friends and family. If you have any questions or feedback about
    this statement, or if you would like us to stop processing your information, please do not hesitate to contact us
    at:</p>

  <ul>
    <li>Data Protection Officer</li>
    <li>The London Perfume Company</li>
    <li>66 Chiltern Street</li>
    <li>England</li>
    <li>W1U 4JT</li>
    <li>EMAIL: <a href="mailto:info@thelondonperfumecompany.com">info@thelondonperfumecompany.com</a></li>
  </ul>
</div>