<div class='rights_column'>
	<h3>Отзывы:</h3>

	<div class="review_bar">
		<%= render partial: 'review', collection: @reviews, spacer_template: "separator" %>
	</div>

	<div class="separator"></div>
	<div class="write_review_wrapper">
		<div class="add_review">Добавить отзыв:</div>
		<form class="form">

			<p class="name">
				<input type="text" name="name" placeholder='Юлия Гришковец' />
				<label for="name">Имя, Фамилия*</label>
			</p>

			<p class="place_of_leaving">
				<input type="text" name="home" placeholder='г. Владимир-Волынский, Волынская обл.'  />
				<label for="home">Город, Область*</label>
			</p>

			<p class="url">
				<input type="text" name="url" placeholder='http://shop-dn-ua.heroku.com/products/123' />
				<label for="url">Ссылка на товар*</label>
			</p>

			<p class="text">
				<textarea class="delivery_time" name='delivery_time' cols="40" rows="4" placeholder="Сроки доставки:" ></textarea>
			</p>
			<p class="text">
				<textarea class="delivery_time" name='delivery_time' cols="40" rows="4" placeholder="Качество и соответствие заказу:" ></textarea>
			</p>
			<p class="text">
				<textarea class="delivery_time" name='delivery_time' cols="40" rows="4" placeholder="Пожелания и замечания:" ></textarea>
			</p>

			<p class="submit">
				<input type="submit" value="Send" />
			</p>

		</form>
	</div>
</div>