<div class='rights_column'>
  <h3>Security</h3>

  <p>
    Here at The London Perfume Company we take online security very seriously. We have automatic protection systems in
    place
    to ensure that payment details are not inadvertently revealed or viewed by anyone else. When you proceed to the
    checkout
    your browser will automatically go into secure mode where a 128-bit Secure Socket Layer (SSL) encrypted internet
    connection
    is used. You will be able to tell that this page is secured by the start of the URL changing from http to https.
    This technology protects the payment by encrypting the details that are supplied, before they are sent over the
    internet.
    Your name, address and full account number will never appear on screen. To ensure all payments are secure, we only
    accept
    payments from web browsers that allow communication through this technology, for example, Version 3.0 or higher of
    Internet Explorer.
  </p>
</div>