<div class='rights_column'>
  <h3>Delivery Information</h3>
  <p>We currently offer free UK standard delivery on all orders (excluding Northern Ireland and the Highlands)</p>
  <p>Our normal delivery charges:</p>

  <ul>
    <li>UK Standard Delivery (excludes Northern Ireland and the Highlands) : £1.95 delivered within 3-5 working days (currently FREE)</li>
    <li>UK Recorded Delivery  (excludes Northern Ireland and the Highlands) : £3.50 delivered within 2-5 working days</li>
    <li>International Standard Delivery to Europe, Northern Ireland and the HIghlands: £4.95 delivered within 15 working days</li>
    <li>International Standard Delivery to Rest of the World: £7.95 delivered within 20 working days</li>
  </ul>

  <p>If you place your order by 12pm Monday to Thursday you will receive your purchase the next day. Any orders
    placed by 12pm on Friday will be guaranteed for delivery the following Monday. To ensure you get your order
    on time please leave a mobile telephone number so our courier can text you prior to delivery.</p>
  <strong>We also offer UK Special Delivery at a charge of £4.95. </strong>
  <p>If you're not completely happy with your item, return it to us for FREE (UK orders only). We promise to
    refund any items that you are not completely happy with when you return it to us in saleable condition within
    30 days of receipt. Refunds will be credited to your original method of payment.
    to view the countries we currently deliver to.</p>
</div>