<div class='rights_column'>
  <h3>Как заказать</h3>

  <p>Для покупки товара необходимо на сайте выбрать интересующую позицию товара, нажав кнопку <strong>Купить</strong> напротив позиции.</p>
  <p>После чего необходимо заполнить все данные формы. Эти данные важные для успешной доставки товара к Вам.</p>
  <p>Обязательно указывайте контактные телефоны и электронный адрес куда можно будет выслать реквизиты на оплату.</p>
  <p>Для подтверждения заказа необходимо произвести <strong>1-й платеж 30%</strong> от стоимости товара.</p>
  <p>Оплата осуществляется по перечислению на карточку Приват банка в любом отделении Приват банка, а также через терминалы пополнения.</p>
  <p>Данные реквизиты Вы получаете на электронный адрес указанный при оформлении заказа.</p>
  <p>При получении на складе перевозчика "Новой почты" Вы можете проверить состояние сумки на наличие брака или повреждений при доставке. После успешного осмотра товара, Вы оплачиваете <strong>остаток 70% при получении</strong>.</p>
  <p>При 100% предоплате заказчику предоставляется скидка 10%.</p>
  <p>Для сомневающихся мы специально создали раздел <a href="#{отзывов}">отзывов</a>.</p>
<!--
  <strong>Email us at:</strong>
  <p><a href="mailto:customerservices@thelondonperfumecompany.com">customerservices@thelondonperfumecompany.com</a>
    and we will respond as soon as we can.</p>

  <strong>Telephone:</strong>
  <p>Should you require an urgent answer or if you would prefer to talk to one of our customer services representatives,
    please call 0844 225 1757. If we do not answer please leave a message and we will return your call as quickly as we
    can.</p>
  <p>Please note we are available: Monday to Friday 8.30am to 5.00pm</p>

  <strong>Контакты</strong>
  <p>Адрес: Украина, г. Донецк, проспект Мира, 13. Ориентир Быттехника в районе Донбасс Арены.</p>

  <strong>Телефоны:</strong>
  <p>+38 050 641-44-19, +38 067 73-37-107</p>

  <strong>Skype:</strong>
  <p>myfutbolka</p>

  <strong>Twitter:</strong>
  <p>myfutbolka</p>

  <strong>Вконтакте:</strong>
  <p>my_futbolka</p> -->
</div>