<div class='rights_column' xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
     xmlns="http://www.w3.org/1999/html">
  <h3>Customer Services</h3>

  <p>We love hearing from our customers so if you have any queries, requests or complaints, please get in
    touch. &nbsp;&nbsp;</p>
  <strong>Email:</strong>
  <p>We aim to respond to emails within one working day, however during busy periods, this may take longer.
    Unfortunately we are unavailable on weekends or public holidays so any emails recieved during these times
    will be responded to the next working day.</p>

  <strong>Email us at:</strong>
  <p><a href="mailto:customerservices@thelondonperfumecompany.com">customerservices@thelondonperfumecompany.com</a>
    and we will respond as soon as we can.</p>

  <strong>Telephone:</strong>
  <p>Should you require an urgent answer or if you would prefer to talk to one of our customer services representatives,
    please call 0844 225 1757. If we do not answer please leave a message and we will return your call as quickly as we
    can.</p>
  <p>Please note we are available: Monday to Friday 8.30am to 5.00pm</p>

  <strong>Контакты</strong>
  <p>Адрес: Украина, г. Донецк, проспект Мира, 13. Ориентир Быттехника в районе Донбасс Арены.</p>

  <strong>Телефоны:</strong>
  <p>+38 050 641-44-19, +38 067 73-37-107</p>

  <strong>Skype:</strong>
  <p>myfutbolka</p>

  <strong>Twitter:</strong>
  <p>myfutbolka</p>

  <strong>Вконтакте:</strong>
  <p>my_futbolka</p>
</div>