<div class='rights_column'>
  <h3>Как заказать</h3>

  <p>Для покупки товара необходимо на сайте выбрать интересующую позицию товара, нажав кнопку <strong>Купить</strong> напротив позиции.</p>
  <p>После чего необходимо заполнить все данные формы. Эти данные важные для успешной доставки товара к Вам.</p>
  <p>Обязательно указывайте контактные телефоны и электронный адрес куда можно будет выслать реквизиты на оплату.</p>
  <p>Для подтверждения заказа необходимо произвести <strong>1-й платеж 30%</strong> от стоимости товара.</p>
  <p>Оплата осуществляется по перечислению на карточку Приват банка в любом отделении Приват банка, а также через терминалы пополнения.</p>
  <p>Данные реквизиты Вы получаете на электронный адрес указанный при оформлении заказа.</p>
  <p>При получении на складе перевозчика "Новой почты" Вы можете проверить состояние сумки на наличие брака или повреждений при доставке. После успешного осмотра товара, Вы оплачиваете <strong>остаток 70% при получении</strong>.</p>
  <p>При 100% предоплате заказчику предоставляется скидка 10%.</p>
  <p>Для сомневающихся мы специально создали раздел <a href="/reviews">отзывов</a>.</p>
</div>