<div class='rights_column'>
  <h3>Гарантии доставки</h3>

  <p>
    Интернет магазин VaKo гарантирует, что все фотографии, представленные в нашем магазине, являются 100 % отображением сумок, которые мы продаем. Цвет сумок на фотографии может немного отличаться от цвета на вашем мониторе, в зависимости от настроек вашего монитора. Точный цвет спрашивайте у наших менеджеров, они с радостью помогут с выбором.
  </p>

  <p>На весь товар, представленный на сайте, мы предоставляем гарантию 3 месяца.</p>

  <p>Согласно Закону Украины " О защите прав потребителя", в течение 14 дней, не считая дня покупки, покупатель имеет право на обмен товара. Обмен товара надлежащего качества проводится, если он не был в употреблении и если сохранены его товарный вид, потребительские свойства, пломбы, ярлыки, а также товарный либо кассовый чек, выданные потребителю вместе с проданным товаром.</p>

  <p>В случае, когда на момент обмена, аналогичного товара нет в продаже, покупатель может приобрести любые другие товары из имеющегося ассортимента с соответствующим пересчетом стоимости или получить назад деньги в размере стоимости возвращенного товара.</p>

  Гарантийные обязательства не распространяются на:
  <ul>
    <li>естественный износ (потертости, царапины, изменение цвета кожи и фурнитуры)</li>
    <li>случайные повреждения, причиненные клиентом или повреждения, возникшие вследствие небрежного отношения или использования (чрезмерное намокание, воздействие посторонних предметов и т. п.)</li>
    <li>повреждения в результате природных явлений, потемнения на изделиях из замши и нубука, возникшие при попадании влаги.</li>
    <li>повреждения, вызванные использованием товара не по назначению или с нарушением правил эксплуатаций, если возникновение дефекта вызвано химическим или механическим воздействием, не предусмотренным общепринятыми нормами эксплуатации.</li>
  </ul>
  <p>После истечения срока гарантии мы всегда готовы, по возможности, обеспечить необходимую фурнитуру для ремонта.</p>
</div>
