<div class='rights_column'>
  <h3>Guarantee of delivery</h3>

  <p>The London Perfume Company is continually growing and we are always on the lookout for
    fantastic new people to join.</p>

  <p>Our vision is to offer amazing designer fragrances and beauty products at affordable prices to as
    many people in as many countries as possible, while providing first class service to every customer.</p>

  <p>We need people who will share and embrace this vision and who will bring new and innovative ideas
    to all aspects of the company. As we are an online company we do not see our customers, so how we communicate,
    whether it be directly with the customer or through the products and services we offer, is vitally important.</p>

  <p>As we are very customer focused, we treat all our customers with the utmost respect and consideration
    (even the difficult ones!). We are open, honest and fair with our customers and employees and need
    people who will share ideals.</p>

  <p>In return we offer a fun and supportive atmosphere, great remuneration and fantastic career enhancement.</p>

  <p>We do not list vacancies on the website, however if you feel you would love to share our vision and
    join this amazing team, please email your C.V. and a covering letting to
    recruitment@thelondonperfumecompany.com.</p>
</div>