<div id="breadcrumb">
  <ul>
    <li><a href="/"> Home </a></li>
    <li>&raquo; My Cart</li>
  </ul>
  <div class="clear"></div>
</div>

<div class="title_of_cart">Моя Корзина:</div>

<div id='my_cart'>

  <table class='table_cart'>
    <thead class='table_head'>
    <th>Image</th>
    <th>Product</th>
    <th>Price</th>
    <th colspan="2">Quantity</th>
    <th>Remove</th>
    </thead>

    <tbody id='cart'>
    <%= render partial: 'carts/items', locals: { items: @items } %>
    </tbody>
  </table>

  <div id="cart_bottom">
    <%= link_to 'Empty Cart', cart_path(@cart.id),
                method:  :delete,
                confirm: 'Are you sure?',
                class:   'empty_cart' %>

    <div id="cart_total_price">
      <%= render partial: 'carts/price', locals: { cart: @cart } %>
    </div>

    <div class='checkout'>
      <a href="#" class="btn_order">Оформить заказ</a>
    </div>
  </div>
</div>
<div class='back_from_cart'>
  <%= link_to '« Обратно к покупкам', products_path %>
</div>
