<div id="menu_bar">
  <div id="breadcrumb">
    <ul>
      <li><a href="/"> Home </a></li>
      <li>&raquo; For Her</li>
    </ul>
    <div class="clear"></div>
  </div>

  <div class="menu">
    <div class="header">
      Refine Products
    </div>

    <div class="section">
      <h3>Product Type:</h3>

      <ul>
        <li>
          <label><input type="checkbox">Поставь галку!</label>
        </li>
        <li>
          <label><input type="checkbox"/>Special offers</label>
        </li>
        <li>
          <label><input type="checkbox"/>Gift sets</label>
        </li>
        <li>
          <label><input type="checkbox"/>Skin Care</label>
        </li>
        <li>
          <label><input type="checkbox"/>Hair Care</label>
        </li>
        <li>
          <label><input type="checkbox"/>Cosmetics</label>
        </li>
        <li>
          <label><input type="checkbox"/>Amy Childs</label>
        </li>
      </ul>
    </div>

    <div class="section">
      <h3>Бренды:</h3>

      <ul>
        <li>
          <label><input type="checkbox">Calvin Klein</label>
        </li>
        <li>
          <label><input type="checkbox"/>Christian Dior</label>
        </li>
        <li>
          <label><input type="checkbox"/>Diesel</label>
        </li>
        <li>
          <label><input type="checkbox"/>Dolce & Gabbana</label>
        </li>
        <li>
          <label><input type="checkbox"/>Yves Saint Laurent</label>
        </li>
        <li>
          <label><input type="checkbox"/>Paco Rabanne</label>
        </li>
      </ul>
      <div class="lock_at_all">
        <a href="#">
          Все бренды.
        </a>
      </div>
    </div>

    <div class="section">
      <h3>Price:</h3>

      <ul>
        <li>
          <label><input type="checkbox">< 150</label>
        </li>
        <li>
          <label><input type="checkbox"/>150 < 200</label>
        </li>
        <li>
          <label><input type="checkbox"/>150 < 200</label>
        </li>
        <li>
          <label><input type="checkbox"/>150 < 200</label>
        </li>
        <li>
          <label><input type="checkbox"/>500 < 700</label>
        </li>
        <li>
          <label><input type="checkbox"/>700+</label>
        </li>
      </ul>
    </div>
  </div>
</div>
<div id="items_bar">
  <div id="sort_bar">
    <div class="class_name">
      Для неё!
    </div>
    <div class="sort">
      Сортировать по:
      <select class="sortdropdown">
        <option value="High">Цена &#8657;</option>
        <option selected="selected" value="Low">Цена &#8659;</option>
        <option value="Brand">Лучшее</option>
        <option value="BestSeller">Новое</option>
      </select>
    </div>
    <div class="clear"></div>
    <div class="underline"></div>
  </div>
  <div id="items"></div>
</div>
<div class="clear"></div>