<blockquote><h2>Edit perfume:</h2></blockquote>

<%= form_for [:admin, @product], url: admin_product_path(@product), html: { class: 'form-horizontal' }, method: :put do |f| %>
  <%= render partial: 'form', locals: { f: f } %>
<% end %>

<%= link_to 'All', admin_products_path, class: 'btn btn-large' %>
<%= link_to 'back to post', admin_product_path(@product.id), class: 'btn btn-inverse btn-large' %>
