<blockquote>
  <h2>Perfumes:</h2>
</blockquote>
<% if @products.any? %>
  <div id="paginator">
    <%= paginate @products, window: 2, :remote => true %>
  </div>
  <table class='table table-striped span12'>
    <thead style="text-align: center">
      <th style="width: 2%">id</th>
      <th style="width: 11%">title</th>
      <th style="width: 35%">desription</th>
      <th style="width: 5%">price</th>
      <th style="width: 3%">Stock</th>
      <th style="width: 8%">Actions</th>
    </thead>

    <tbody id="products_body">
      <%= render @products %>
    </tbody>
  </table>
<% end %>
<%= link_to 'New', new_admin_product_path, class: 'btn btn-success perfume_new_btn custom_black_btn' %>