<blockquote><h2>Создать товар:</h2></blockquote>

<%= form_for [:admin, @product], html: { class: 'form-horizontal' } do |f| %>
  <%= render partial: 'error', locals: { product: @product } %>
  <%= render partial: 'form', locals: { f: f, submit: 'Создать' } %>
<% end %>

<%= link_to 'К списку', admin_products_path, class: 'btn_back btn btn-inverse btn-large custom_black_btn' %>
