/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require 'reset'
 *= require 'error'
 *= require 'bootstrap_and_overrides'
 *= require_self
 *= require 'brands'
  */

body {
  background-color : #FAFAFA;
}

strong {
  font-size   : 18px;
  font-weight : bold;
  line-height : 30px;
  margin-left : 10px;
}

.category_margin {
  margin-left : 100px;
}

.category_table {
  width : 300px;
}

.controls {
  margin-left : 180px !important;
}

.control-group label {
  margin-left : 28px;
}

#category_new_perfume {
  margin-left : 30px;
}

table {
  table-layout : fixed !important;
}

table th, table td {
  overflow : hidden !important;
}

tr td .in_stock_true {
  width            : 20px;
  height           : 20px;
  margin           : 6px 0 0 9px;
  background-color : green;
}

tr td .in_stock_false {
  width            : 20px;
  height           : 20px;
  margin           : 6px 0 0 9px;
  background-color : red;
}

#box_of_perfume_show {
  margin-top : 10px;
}

#perfume_main_image {
  float : left;
}

#perfume_main_image img {
  border : 2px solid black;
  width  : 235px;
  height : 235px;
}

#description {
  float       : left;
  width       : 800px;
  margin-left : 10px;

  line-height : 24px;
  color       : #333;
  font-family : Georgia, Times, serif;
  text-shadow : 0 0 1px #777777;
}

#perfume_title {
  font-size     : 24px;
  font-weight   : bold;
  color         : #323232;
  margin-left   : 100px;
  margin-bottom : 10px;
}

#perfume_description {
  font-size   : 16px;
  margin-left : 40px;
}

#perfume_price {
  margin-top  : 5px;
  margin-left : 40px;
  font-size   : 16px;
  color       : #F00;
}

#perfume_price span {
  font-size : 25px;
}

#perfume_instock {
  float   : left;
  width   : 55px;
  height  : 55px;
  display : block;
}

.perfume_instock_true {
  background : url(/assets/admin/in_stock_plus.jpg) no-repeat 0 4px transparent;
}

.perfume_instock_false {
  background : url(/assets/admin/in_stock_minus.jpg) no-repeat 0 4px transparent;
}

.rank {
    color: red;
    font-size: 40px;
    font-weight: bold;
    margin-top: 5px;
    font-family : Georgia, Times, serif;
}


#perfume_actions {
  text-align    : center;
  margin-bottom : 10px;
}

#text_area {
  width  : 500px;
  height : 150px;
}

.perfume_new_btn {
  margin-left : 30px;
}

#perfume_category {
  margin      : 5px 0 0 20px;
  font-size   : 16px;
  color       : #333;
  font-family : Georgia, Times, serif;
  text-shadow : 0 0 1px #777777;
}

#perfume_category ul {
  margin    : 3px 0 3px 10px;
  font-size : 14px;
}

#perfume_category ul li {
  line-height : 18px;
}

#product_in_stock {
  margin-top : 8px;
}

#product_image {
  margin-top : 15px;
}

.custom_black_btn {
  margin-bottom : 10px;
}

#drop_brand_menu {
  margin: 10px 0 0 0;
}
