#sign_in {
    margin: 55px 0 20px 180px;
}

#form{
    padding-top:10px;
    background:url(form/form_top.gif) no-repeat 0 0;
}
#form fieldset{
    float:left;
    display:inline;
    width:260px;
    margin-left:25px;
}

#form input {
    width:252px;
    border:1px solid #ddd;
    -moz-border-radius:.3em;
    -webkit-border-radius:.3em;
    border-radius:.3em;
    background:#fff url(form/form_input.gif) repeat-x;
    padding:3px;
}
#form .fields {
  margin-bottom: 7px;
  line-height: 23px;
}

#form .fields label {
    font-size: 18px;
    font-family: Georgia, Times, serif;
    text-shadow: 0 0 1px #777;
}

#form div.bottom{
    clear:both;
    background:url(form/form_bottom.gif) no-repeat 0 100%;
    padding:0 25px 25px;
    margin:0;
    text-align:right;
}
#form button{
    width:150px;
    height:37px;
    line-height:37px;
    border:none;
    background:url(form/form_button.gif) no-repeat 0 0;
    color:#fff;
    cursor:pointer;
    text-align:center;
}
#form .submit {
    display: inline-block;
    float: left;
    margin: 44px 0 0 80px;
}
