/*
 *= require reset/reset
 *= require_self
 *= require header
 *= require footer
 *= require welcome
 *= require trackbar
 *= require orders
 *= require botstrap/boots_trap
 *= require products
 *= require registration_form
 *= require voters
 *= require shared/products_paginator
 *= require shared/flash_messages
 */

html, body {
  min-height: 100%;
  height: 100%;
}

body {
  background-color: #ececec;
  background: #ececec url(http://lea.verou.me/css3patterns/noise.png) 0 0 repeat;

  #sitewrapper {
    margin: 0 auto;
    width: 1020px;
    background: #fff;
    line-height: 1.8em;
    color: #333;
    box-shadow: 0 0 20px #fff;
    min-height: 100%;

    #content {
      position: relative;
      width: 980px;
      margin: 0 20px 15px;
    }

    .footer_to_bottom {
      height: 95px;
    }
  }
}

.yandex-metrica {
  // display: none;
  position: fixed;
  right: 0px;
  bottom: 0px;
}
