#header {
  font-size : 62.5%;
  width     : 100%;

  .left {
    float               : left;
    // trick to load progres.gif
    background          : url(/assets/progres.gif) no-repeat;
    background-position : left center;
    margin              : 20px 0 25px 0;

    a {
      background : url(/assets/vk_logo.jpg) no-repeat;
      display    : block;
      margin-top : 7px;
      width      : 333px;
      height     : 63px;
    }
  }

  .right {
    float      : right;
    margin-top : 10px;

    .topnav {
      margin: 30px 45px 0 0;
      float: left;
      width: 360px;
      font-size: 19px;
      font-family: 'Times New Roman', Times, serif;
      text-shadow: 0 0 0 #97002d;
      color: #97002d;

      .hint {
        text-align: right;
        font-size: 14px;
        margin-top: -10px;
      }
    }
  }

  .basket {
    float      : left;
    margin-top : 15px;

    .basketimg {
      background  : url(/assets/red_cart.jpg) no-repeat 0 4px transparent;
      width       : 70px;
      height      : 82px;
      display     : block;

      float       : left;
    }

    .basketcontent {
      float      : left;
      width      : 130px;
      margin     : 8px 7px 0 0;
      text-align : center;

      .baskettext {
        color      : #000;
        font-size  : 1.2em;
        display    : block;
        float      : left;
        font-style : italic;
      }

      .basketnum {
        font-weight  : bold;
        font-size    : 1.6em;
        color        : #8e908f;
        float        : left;
        margin-right : 5px;
      }

      .basketbutton {
        float      : left;
        margin-top : 5px;
      }

      .cartItems {
        line-height   : 20px;
        margin-left   : 10px;
        margin-bottom : 24px;
        padding-right : 5px;

        span {
          text-align : right;
          width      : 100%;
        }
      }
      .basket_btn_order {
        font-size: 10px;
        font-family: sans-serif;
      }
    }

    .no_basketcontent {
      float      : left;
      margin-top : 2px;
    }
  }
}

// menu -----------------------------------------------------------------------------------------------

#main_menu {
  margin-left : -2px;

  ul.sdt_menu {
    margin      : 0;
    padding     : 0;
    list-style  : none;
    font-family : "Myriad Pro", "Trebuchet MS", sans-serif;
    font-size   : 14px;
    width       : 984px;

    a {
      text-decoration : none;
      outline         : none;
    }

    li {

      span.sdt_wrap {
        position : absolute;
        top      : 0px;
        left     : 0px;
        width    : 144px;
        height   : 40px;
        z-index  : 15;
      }

      span.sdt_active {
        position           : absolute;
        border-radius      : 0 0 5px 5px;

        background         : #777; /* Для старых браузров */
        background         : -moz-linear-gradient(top, #777, #e183a0); /* Firefox 3.6+ */
        background         : -webkit-gradient(linear, left top, left bottom, color-stop(0%, #777), color-stop(100%, #e183a0));
        background         : -webkit-linear-gradient(top, #777, #e183a0);
        background         : -o-linear-gradient(top, #777, #e183a0); /* Opera 11.10+ */
        background         : -ms-linear-gradient(top, #777, #e183a0); /* IE10 */
        background         : linear-gradient(top, #777, #e183a0); /* CSS3 */

        top                : 40px;
        width              : 144px;
        height             : 0px;
        left               : 0px;
        z-index            : 14;
        -moz-box-shadow    : 0px 0px 4px #000 inset;
        -webkit-box-shadow : 0px 0px 4px #000 inset;
        box-shadow         : 0px 0px 4px #000 inset;
      }

      span.sdt_descr {
        text-align     : center;
        text-shadow    : 2px 2px 2px #333;
        color          : #fff;
        float          : left;
        clear          : both;
        width          : 144px; /*For dumbass IE7*/
        font-size      : 9px;
        letter-spacing : 0.7px;
        display        : none;
        line-height    : 1.2em;
      }

      span.sdt_link {
        text-align     : center;
        text-shadow    : 2px 2px 2px #333;
        color          : #fff;
        font-size      : 15px;
        float          : left;
        clear          : both;
        letter-spacing : 1px;
        width          : 144px;
        line-height    : 40px;
      }
    }

    #all_products,
    #search {
      width      : 260px;

      float      : left;
      height     : 40px;
      position   : relative;
      cursor     : pointer;
      background : #B44668;

      background : -moz-linear-gradient(top, #e183a0, #97002e);
      background : -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e183a0), color-stop(100%, #97002e));
      background : -webkit-linear-gradient(top, #e183a0, #97002e);
      background : -o-linear-gradient(top, #e183a0, #97002e);
      background : -ms-linear-gradient(top, #e183a0, #97002e);
      background : linear-gradient(top, #e183a0, #97002e);

      box-shadow : 0 0 1px #333 inset;

      input:focus {
        outline:none;
      }

      a {
        text-align     : center;
        text-shadow    : 2px 2px 2px #333;
        color          : #fff;
        font-size      : 15px;
        float          : left;
        clear          : both;
        letter-spacing : 1px;
        width          : 260px;
        line-height    : 40px;
      }
    }
  }
}

ul.sdt_menu > li {
  float      : left;
  width      : 144px;
  height     : 40px;
  position   : relative;
  cursor     : pointer;
  background : #B44668;

  background : -moz-linear-gradient(top, #e183a0, #97002e);
  background : -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e183a0), color-stop(100%, #97002e));
  background : -webkit-linear-gradient(top, #e183a0, #97002e);
  background : -o-linear-gradient(top, #e183a0, #97002e);
  background : -ms-linear-gradient(top, #e183a0, #97002e);
  background : linear-gradient(top, #e183a0, #97002e);
}

ul.sdt_menu > li > a {
  position           : absolute;
  top                : 0px;
  left               : 0px;
  width              : 144px;
  height             : 40px;
  z-index            : 12;
  -moz-box-shadow    : 0px 0px 1px #333 inset;
  -webkit-box-shadow : 0px 0px 1px #333 inset;
  box-shadow         : 0px 0px 1px #333 inset;

  img {
    border             : none;
    position           : absolute;
    width              : 0px;
    height             : 0px;
    bottom             : 0px;
    left               : 55px;
    z-index            : 100;
    -moz-box-shadow    : 0px 0px 4px #000;
    -webkit-box-shadow : 0px 0px 4px #000;
    box-shadow         : 0px 0px 4px #FFF;
  }
}

// ------------------------------------------------------------------------------------------------   SEARCH

#search input[type="text"] {
  margin-left           : 29px;
  margin-top            : 7px;
  background            : url(/assets/search-white.png) no-repeat 10px 6px #444;
  border                : 0 none;
  font                  : bold 12px Arial, Helvetica, Sans-serif;
  color                 : #d7d7d7;
  width                 : 100px;
  padding               : 7px 15px 6px 30px;
  -webkit-border-radius : 20px;
  -moz-border-radius    : 20px;
  border-radius         : 20px;
  text-shadow           : 0 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow    : 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow       : 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
  box-shadow            : 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
  -webkit-transition    : all 0.7s ease 0s;
  -moz-transition       : all 0.7s ease 0s;
  -o-transition         : all 0.7s ease 0s;
  transition            : all 0.7s ease 0s;
}

#search input[type="text"]:focus {
  background         : url(/assets/search-dark.png) no-repeat 10px 6px #fcfcfc;
  color              : #6a6f75;
  width              : 150px;
  -webkit-box-shadow : 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
  -moz-box-shadow    : 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
  box-shadow         : 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
  text-shadow        : 0 2px 3px rgba(0, 0, 0, 0.1);
}

//  --------------------------------------------------------------------------------------Tooltip
#aToolTip {
  position : absolute;
  display  : none;
  z-index  : 50000;
  top      : 199px;
  left     : 745px;
}

#aToolTip .aToolTipContent {
  position : relative;
  margin   : 0;
  padding  : 0;
  font     : bold italic 70% serif;
}

.defaultTheme {
  border                : 2px solid #666;
  background            : #888;
  color                 : #fff;
  margin                : 0;
  padding               : 6px 12px;

  -moz-border-radius    : 12px 12px 12px 0;
  -webkit-border-radius : 12px 12px 12px 0;
  -khtml-border-radius  : 12px 12px 12px 0;
  border-radius         : 12px 12px 12px 0;

  -moz-box-shadow       : 2px 2px 5px #111; /* for Firefox 3.5+ */
  -webkit-box-shadow    : 2px 2px 5px #111; /* for Safari and Chrome */
  box-shadow            : 2px 2px 5px #111; /* for Safari and Chrome */
}

.defaultTheme #aToolTipCloseBtn {
  display     : block;
  height      : 18px;
  width       : 18px;
  background  : url(/assets/closeBtn.png) no-repeat;
  text-indent : -9999px;
  outline     : none;
  position    : absolute;
  top         : -20px;
  right       : -30px;
  margin      : 2px;
  padding     : 4px;
}
