#no_match_criteria {
  color       : #333333;
  font-family : Georgia, Times, serif;
  font-size   : 14px;
  text-shadow : 0 0 1px #777777;
  margin-left : 23px;
}

#table {
  width:  1300px;
  font-size: 12px;

  th, td {
    text-align: center;
  }
}