@import "shared/menu_for_optional_and_products_pages.css.scss";
@import "shared/product_show_page.css.scss";

.menu .section h3 {
  text-shadow : 0 0 1px #777;
  font-size   : 15px;
  line-height : 17px;
  font-weight : bold;
  color       : #333;
  margin      : 10px 0 5px 20px;
}

.menu .section ul li {
  font-size   : 13px;
  line-height : 17px;
  color       : #777;
}

.menu .section ul li label {
  cursor         : pointer;
  vertical-align : middle;
}

.menu .section ul li input {
  cursor       : pointer;
  margin-right : 7px;
}

/*   -----   MENU  END   -----   */
#items_bar {
  float  : left;
  margin : 60px 0 0 23px;
  width  : 755px;
}

#items_bar .class_name {
  float       : left;
  font-family : Georgia, Times, serif;
  text-shadow : 0 0 1px #777;
  font-size   : 26px;
  line-height : 17px;
  color       : #333;
  margin      : 10px 0 0 0;
}

#items_bar #sort_bar .sort {
  float       : right;
  color       : #656565;
  font-family : Georgia, Times, serif;
  font-size   : 14px;
  line-height : 17px;
  text-shadow : 1px 1px 1px #CCCCCC;
}

#items_bar #sort_bar .sort select {
  margin-left : 6px;
}

#items_bar #sort_bar .underline {
  height        : 1px;
  margin-top    : 11px;
  border-bottom : 1px solid #aaa;
  width         : 753px;
}

/*  ----   ITEMS START   ----  */
#items {
  width  : 755px;
  margin : 10px 0;
}

/*#items ul*/
#items ul li {
  float            : left;
  margin           : 0 24px 20px 0;
  width            : 235px;
  background-color : #EFF1F1;
}

#items ul li.last {
  margin : 0 0 20px 0;
}

/*#items ul li a*/
#items ul li a img {
  width  : 235px;
  height : 235px;
}

/*#items ul li .productinfo*/
#items ul li .productinfo .paddingwrapper {
  font-size : 14px;
}

#items ul li .productinfo .paddingwrapper .title {
  margin : -4px 10px 0 18px;
  width  : 200px;
}

#items ul li .productinfo .paddingwrapper .title h2 {
  max-height : 20px;
  overflow   : hidden;
}

#items ul li .productinfo .paddingwrapper .title h2 a {
  text-shadow : 0 0 1px #6D6B6D;
  color       : #585858;
}

#items ul li .productinfo .paddingwrapper .price {
  color       : #909090;
  font-weight : bold;
  margin      : 1px 0 0 34px;
}

/*  ----   ITEMS END   ----  */

/*  ----   ENDLESS PAGINATION START   ----  */

#ednless_paginator {
  color            : #535353;
  text-shadow      : 1px 1px 1px #aaa;
  font-family      : Georgia, Times, serif;
  font-size        : 15px;

  background-color : #F8F8F8;
  border           : 1px solid #C6C6C6;

  cursor           : pointer;
  width            : 751px;
  height           : 24px;
  margin-left      : 221px;
  text-align       : center;
}

#ednless_paginator:hover {
  background   : -moz-linear-gradient(top, #F8F8F8, #ddd);
  background   : -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F8F8F8), color-stop(100%, #ddd));
  background   : -webkit-linear-gradient(top, #F8F8F8, #ddd);
  background   : -o-linear-gradient(top, #F8F8F8, #ddd);
  background   : -ms-linear-gradient(top, #F8F8F8, #ddd);
  background   : linear-gradient(top, #F8F8F8, #ddd);
  border-color : #c6c6c6;
  border       : 1px solid #a2a2a2;
}

.pagination ul {
  display : none;
}

#endless_message {
  background          : url(/assets/progres.gif) no-repeat;
  background-position : center bottom;
  height              : 16px;
  width               : 210px;
  margin-left         : 493px;
}

/*  ----   ENDLESS PAGINATION END   ----  */

#brands_section {
  width    : 175px;
  height   : 250px;
  overflow : auto;
}

#no_match_criteria {
  color       : #333333;
  font-family : Georgia, Times, serif;
  font-size   : 14px;
  text-shadow : 0 0 1px #777777;
  margin-left : 23px;
}