.underline_index {
  border-bottom : 1.6px solid #CCCCCC;
  width         : 620px;
  margin-left   : 62px;
  box-shadow    : 0 1px 1px #CCC;
}

.second {
  margin-top : 10px;
}

#rotator {
  box-shadow : 0 0 2px black;
  width      : 960px;
  height     : 327px;
  overflow   : hidden;
  margin     : 15px auto 0;
  position   : relative;

  img {
    width  : 100%;
    height : 100%;
  }

  ul {
    li {
      float      : left;
      position   : absolute;
      list-style : none;
      width      : 100%;
      height     : 100%;
    }

    li.show {
      z-index : 1;
    }
  }
}

#leftarea {
  float       : left;
  width       : 730px;
  margin-left : -10px;

  #top_list {
    width      : 750px;
    background : url(/assets/top_list.png) 40% 0 no-repeat;
    margin     : 25px 0 0 10px;

    #top_icon {
      width  : 750px;
      height : 40px;
    }

    #top_icon_img {
      margin : 0 5px 0 10px;
      float  : left;
      width  : 150px;
      height : 140px;
    }

    // FIXTO: how to refactor ?
    .previousproduct {
      background : url("a_prev.png") no-repeat scroll 0 0 transparent;
      display    : block;
      float      : left;
      height     : 40px;
      left       : 0;
      width      : 22px;
      z-index    : 1;
      margin     : 29px 5px 0 0;
    }

    .nextproduct {
      background : url("a_next.png") no-repeat scroll 0 0 transparent;
      display    : block;
      float      : left;
      height     : 40px;
      left       : 0;
      width      : 22px;
      z-index    : 1;
      margin     : 29px 0 0 5px;
    }

    #wrap {
      float    : left;
      // border: 1px solid red;
      //float: left;

      position : relative;

      height   : 170px;
      overflow : hidden;
      width    : 500px;

      #slider {
        position : relative;
        width    : 1200px;

        li {
          float     : left;
          width     : 115px;
          margin    : 0 5px 0 5px;
          font-size : 1.2em;
          display   : block;

          a {
            color : #333;
          }

          .title {
            margin-left : 3px;
            width       : 110px;
            line-height : 15px;
            overflow    : hidden;
            font-family : Georgia;
            font-size   : 12px;
            max-height  : 28px;
            color       : #333;
          }

          .best_seller_image {
            width: 115px;
            height: 100px;
          }

          .price {
            margin-left : 3px;
            width       : 110px;
            color       : #CC0000;
            font-size   : 14px;
            font-weight : bold;

            span {
              font-size : 11px;
            }
          }

          img {
            border : 1px solid #CCCCCC;
          }
        }
      }
    }
  }

  #new_products {
    margin-left : 52px;

    .new_product {
      display    : block;
      background : url(/assets/must-haves-box.jpg) no-repeat;
      width      : 300px;
      height     : 181px;
      float      : left;
      margin     : 10px 10px 0 10px;

      .new_product_title {
        margin      : 10px 0 0 55px;
        font-size   : 17px;
        font-weight : bold;
        font-family : Georgia, Times, serif;
        color       : #444;
        text-shadow : 1px 1px 3px #97D;
      }

      .new_product_content {
        margin : 5px 0 0 15px;

        .picture_new {
          float        : left;
          margin-right : 12px;

          img {
            height       : 120px;
            width        : 120px;
            border-width : 0px;
            border       : 1px solid #CCCCCC;
          }
        }

        .description {
          margin : 5px 0 0 0;
          float  : left;

          .price {
            vertical-align : middle;
            line-height    : 40px;
            margin-top     : 5px;
          }

          ul {
            .price {
              .price_count {
                font-weight    : bold;
                font-size      : 12px;
                vertical-align : middle;
              }

              .price_inscription {
                vertical-align : middle;
                color          : #CC2222;
                font-size      : 17px;
                font-weight    : bold;
                margin-top     : 4px;
              }
            }

            li.title {
              width       : 130px;
              font-size   : 15px;
              color       : #333;
              line-height : 18px;
              height      : 35px;
              color       : #333333;
              overflow    : hidden;
            }

            li.button .btn_order {
              margin-left : 32px;
            }
          }
        }
      }
    }
  }
}

#rightarea {
  float  : left;
  margin : 35px 0 0 10px;

  .questions {
    width            : 240px;

    background-color : #f7f6f2;
    border           : 1px solid #333;

    .votes_logo {
      width      : 190px;
      height     : 180px;
      background : url("Vote.png") no-repeat;
      margin     : 10px 0 0 40px;
    }

    .question {
      color       : #444444;
      font-family : Arial, serif;
      text-shadow : 2px 2px 3px #777777;
      line-height : 20px;
      font-size   : 16px;
      color       : #333;
      text-align  : center;
    }

    form {
      margin : 7px 0 0 30px;

      #subm_vote {
        margin : 2px 0 10px 35px;
      }
    }

    .list_of_price {
      font-size   : 13px;
      font-weight : bold;
      line-height : 25px;
      margin-left : 20px;
      text-shadow : 0 1px 1px #AAAAAA;
    }

    .progress_table {
      margin-left : 20px;
      color       : #333;
      font-size   : 13px;
      font-weight : bold;
      font-weight : bold;
      line-height : 22px;

      .progress_bar {
        background-color : #DDDDDD;
        height           : 4px;
        width            : 195px;

        .bar {
          background-color : #149BDF;
          height           : 100%;
        }
      }

      .count_of_vote {
        margin : 6px 0
      }

      .count_of_vote  span {
        font-size : 15px;
      }
    }
  }

  #remote_site {
    width       : 243px;
    color       : #959796;

    font-size   : 13px;
    font-family : Georgia, Times, serif;
    line-height : 17px;

    .wrapper_of_remote_site {
      height   : 133px;
      overflow : hidden;

      .blog {
        margin : 10px 0 7px 0;
        a {
          text-shadow : 0 0 1px #777;
          color       : #333;
          font-size   : 17px;
        }
      }
      .description_blog {

        margin-bottom : 10px;
        overflow      : hidden;
        height        : 70px;
      }
    }

    .aboveline_blog {
      margin-top : 10px;
      box-shadow : 0 1px 1px #CCCCCC;
      border-top : 1.6px solid #CCCCCC;
    }

    .underline_blog {
      box-shadow    : 0 1px 1px #CCCCCC;
      border-bottom : 1.6px solid #CCCCCC;
    }

  }
}