<% genders.each do |key, value| %>
  <li>
    <label>
      <%= check_box_tag 'gender_type', key, set_value_by_params(key, session['products_params'].try(:[], 'gender_params')) %>
      <%= value %>
    </label>
  </li>
<% end %>
