<% if (product_counter-2)%3 == 0 %>
  <li class='last'>
<% else %>
  <li>
<% end %>
<%= link_to image_tag( middle_image(product), class: 'productimg'), product_path(product.id) %>

<div class="productinfo">
  <div class="paddingwrapper">
    <div class="title">
      <h2>
        <%= link_to product.title, product_path(product.id) %>
      </h2>
    </div>
    <div class="price">
      Цена <%= product.price %>грн.
    </div>
  </div>
</div>
</li>