<div class='section search_bar'>
  <button class='custom-find btn_order' onclick="handler(event)" >Искать</button>
  <button class='custom-reset btn_order' onclick="handler(event)" >Сбросить</button>
</div>
