$('#spinner_loading').hide();

<% if @products.size > 0 %>
  $('#products_displaying').html("<%= j render(@products) %>");
<% else %>
  $('#products_displaying').html("<%= j render 'no_match_criteria' %>");
<% end %>

$('.products_paginator').replaceWith("<div class='products_paginator'><%= j paginate(@products, remote: true) %></div>");
