$('#spinner_loading, #spinner_loading_background').hide();

<% if @products.size > 0 %>
  $('#products_displaying').html("<%= j render(@products) %>");
<% else %>
  $('#products_displaying').html("<%= j render 'no_match_criteria' %>");
<% end %>

$('.top_products_paginator').replaceWith("<div class='top_products_paginator'><%= j paginate(@products, window: 2, remote: true) %></div>");
$('.bottom_products_paginator').replaceWith( $('.top_products_paginator').clone() );

// localStorage.setItem('page_number', "<%= @products.current_page %>");
