<div id="footer">
	<div class="footernav">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="#">For her</a></li>
			<li><a href="#">For him</a></li>
			<li><a href="#">Brands</a></li>
			<li><a href="#">Gift sets</a></li>
			<li><a href="#">Special offers</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">Customer Services</a></li>
			<li><a href="#">Gift sets</a></li>
		</ul>
		<ul>
			<li><a href="#">Recruitment</a></li>
			<li><a href="#">Blog</a></li>
			<li><a href="#">FAQs</a></li>
			<li><a href="#">Site Map</a></li>
			<li><a href="#">Terms & Conditions</a></li>
			<li><a href="#">Privacy Policy</a></li>
			<li><a href="#">Security</a></li>
			<li><a href="#">Delivery</a></li>
			<li><a href="#">Useful Resources</a></li>
		</ul>
	</div>
	<div class="footer_payment">
		<h2>Методы Оплаты</h2>
		<p>поддерживаемые методы отправки и покупки товара:</p>
		<ul>
			<li><a href="#"><img src="images/mc.png" /></a></li>
			<li><a href="#"><img src="images/mc.png" /></a></li>
			<li><a href="#"><img src="images/mc.png" /></a></li>
		</ul>
	</div>
	<div class="footer_contacts">
		<div class="social">
			<h2>Мы Вконтакте:</h2>
			<div class="link">
				<a href="http://vkontakte.ru"></a>
			</div>
		</div>
		<div class="clear"></div>
		<div class="email">
			<a href="mailto:info@example.com">
				Email:
			</a>
			<div class="email_number">
				dracon779@gmail.com
			</div>
		</div>
		<div class="clear"></div>
		<div class="phone">
			<div class="phone_description">Телефон: </div>
			<div class="phone_number">
				(066) 55 23 657
			</div>
		</div>
		<div class="clear"></div>
		<div class="copyrightclient">
			<span>&copy; The Own Perfume Company 2013</span>
		</div>
	</div>
</div>