<div id="header">
  <div class="left">
    <a href="/"><img src="images/prudence_paris_logo.jpg" alt="lorem"></a>
  </div>
  <div class="right">
    <div class="topnav">
      <ul>
        <li><a href="#">About</a></li>
        <li><a href="#">Customer Service</a></li>
        <li><a href="#">Recruitment</a></li>
        <li><a href="#">Blog</a></li>
        <li class="last"><a href="#">FAQs</a></li>
      </ul>
      <div class="clear"></div>
    </div>

    <img src="images/GiftLabel.png" alt="free standard Ucraine delivery" class="giftLabel">

    <div class="basket">
      <img src="images/delivery.jpg" width="70" height="82" alt="free standard Ucraine delivery" class="basketimg">
      <div class="basketcontent">
        <div class="cartItems">
          <span class="basketnum">2 </span>
          <span class="baskettext">Items for</span>
          <br />
          <span class="basketnum">£246.98</span> 
        </div>
        <a href="#" class="btn_order">Заказать</a>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>
<div class="clear"></div>